<style type="text/css">
    .text-seperator {
        display: block;
        height: 1px;
        border: 0;
        border-top-style: solid;
        border-top-width: 1px;
        padding: 0;
        margin: 3em 0;
        text-align: left;
        border-color: #e5e5e5;
    }

    .text-seperator h2 {
        position: relative;
        background: #fff;
        top: -18px;
        display: inline-block;
        padding-left: 0em;
        padding-right: 1em;
        margin: 0;
        text-transform: uppercase;
        letter-spacing: 0;
        font-size: 22px;
    }
    .image-with-text {
        overflow: hidden;
        position: relative;
        height: 425px;
    }
    .press-coverage div:nth-of-type(2) {height: 250px;}
</style>


<div class="main-container">
		<a id="home" class="in-page-link"></a>

		<!-- Header -->
		<section class="image-with-text background-dark preserve-3d">
			<div class="background-image-holder">
				<img class="background-image" alt="About Image" src="/images/gdrive/holding_fire.jpg">
				<div class="container vertical-align" style="z-index: 2; top: 35%;">
					<div class="row">
						<div class="col-md-5 col-sm-7">
							<!-- <h1 class="bold text-white">WHEEL 2 LIVE</h1>
							<p class="lead text-white gf_muli lh_24">
								The purpose of this project is to provide wheelchairs to persons with disabilities in underserved communities by presenting a multidisciplinary tour.
							</p> -->
							<!-- <a href="#speakers" class="btn btn-hollow mr10">Franks's Story</a> -->
						</div>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<div class="row pt60 pb20">
							<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
								<h2 class="text-white text-center mb10 upper gf_oswald normal ws3">May 11-25, 2015</h2>
		                        <h5 class="bold uppercase text-center block ws2" style="color: #ff9f65;">
		                           A journey from atlanta to savannah
		                        </p>
								<div class="countdown mt0" data-date="2015/05/11"></div>
							</div>
						</div>
					</div><!--end of row-->
				</div>
				<div class="go-right side-image col-sm-4 col-md-6">
				</div><!--end of container-->
				<div class="overlay"></div>
			</div>
		</section>


	
	<a id="about" class="in-page-link"></a>
	
	<section id="tour" class="topics duplicatable-content pb60 pt20">
		<div class="container">
			<div class="p20" style="padding: 0 40px 0 0;">
                <div class="text-seperator">
                    <h2 class="semi-bold gf_oswald ws3 upper mb60">
                    	<span class="fa fa-calendar mr10 fs_34"></span>Upcoming Events
                    </h2>
                </div>
            </div>

            <br/>

            <div class="row">
				<div class="col-md-12">
					<img src="/img/events/6.jpg" height="" class="img-thumbnail">
				</div>
				<div class="col-md-4">
					
				</div>
			</div>

			<br/><br/>


            <div class="p20" style="padding: 0 40px 0 0;">
                <div class="text-seperator">
                    <h2 class="semi-bold gf_oswald ws3 upper mb60">
                    	<span class="fa fa-calendar mr10 fs_34"></span>Past Events
                    </h2>
                </div>
            </div>

            <br/><br/>
			
			<div class="row">
				<div class="col-md-6">
					<img src="/img/events/1.jpg" height="" class="img-thumbnail">
				</div>
				<div class="col-md-6">
					<img src="/img/events/7.jpg" height="" class="img-thumbnail">
				</div>
			</div>

			<br/>

			<div class="row">
				<div class="col-md-6">
					<img src="/img/events/8.jpg" height="" class="img-thumbnail">
				</div>
			</div>
			
		</div><!--end of container-->
	</section>

	

<section class="instagram preserve-3d pb60 pt60">
    <div class="instafeed" data-user-name="wheel2live">
        <ul></ul>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 text-center">
                <a href="http://instagram.com/wheel2live">
                    <h1 class="gf_oswald upper ws3 semi-bold text-white">
                        <span class="fa fa-instagram fa-3x mb20"></span><br/>
                        <span class="fs_36 ws6">Follow us on Instagram</span><br/>
                        <span class="text-highlight mt10 thin inline-block">#wheel2live</span>
                    </h1>
                </a>
            </div>
        </div><!--end of row-->
    </div><!--end of container-->
</section>

<!-- <section class="" style="background: #f5f5f5;">
	<div class="container">

		<div class="row">
			<div class="col-md-12">

				<div class="press-coverage p-t-60">
					<br/>
					<br/>
					<h1 class="mt0 gf_oswald semi-bold uppercase block ws2 mb20 text-black text-center">
                        event photo galleries
                    </h1>
					
					<hr/>
		            <br/>

		            <div class="row  press-coverage p-t-60">
			            <div class="col-md-6 col-sm-6">
			        		<div class="pl10 pr10">
			            	    <div class="topic box-shadow-ccc pb40 bgcolor-white">
			                        <div class="image-wrapper" style="height: 200px; background: url(/img/press/1.png); background-position: center; background-size: cover;">
				                    </div>
			                    </div>
				            </div>
					    </div>
			            
			            <div class="col-md-6 col-sm-6">
			            	<div class="pl10 pr10">
			                    <div class="topic topic box-shadow-ccc pb40 bgcolor-white">
			                        <div class="image-wrapper" style="height: 200px; background: url(/img/press/2.png); background-position: center; background-size: cover;">
				                    </div>
			                    </div>
			                </div>
			            </div>
			        </div>

			        <div class="row  press-coverage p-t-60">

			            <div class="col-md-6 col-sm-6">
			            	<div class="pl10 pr10">
			                    <div class="topic topic box-shadow-ccc pb40 bgcolor-white">
			                        <div class="image-wrapper" style="height: 200px; background: url(/img/press/3.png); background-position: center; background-size: cover;">
				                    </div>
			                    </div>
				            </div>
			            </div>

			            <div class="col-md-6 col-sm-6">
			            	<div class="pl10 pr10">
			                    <div class="topic topic box-shadow-ccc pb40 bgcolor-white">
			                        <div class="image-wrapper" style="height: 200px; background: url(/img/press/3.png); background-position: center; background-size: cover;">
				                    </div>
			                    </div>
				            </div>
			            </div>
			        </div>
		        </div>
		    </div>
		</div>
    </div>
</section> -->


<section class="sponsors bgcolor-white">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="semi-bold upper mb0 gf_oswald">Proudly sponsored by</h1>
            </div>
        </div><!--end of row-->
        <hr class=""/>
        <br/>
        <div class="row">
            <div class="col-md-3 col-sm-6 sponsor-column">
                <div class="sponsor text-center">
                    <a href="http://www.amsvans.com/">
                        <img alt="Sponsor" src="http://ee67220d6d27f782feb8-f9db6d286072a6d6499b01588462c44f.r59.cf2.rackcdn.com/amsvans/Articles/Buying/amsvansLogo.jpg">
                    </a>
                </div>
            </div>
    
            <div class="col-md-3 col-sm-6 sponsor-column">
                <div class="sponsor text-center">
                    <a href="http://www.disabilitystudies.emory.edu/home/index.html">
                        <img alt="Sponsor" src="http://www.disabilitystudies.emory.edu/home/images/hero/DSIlogo.png">
                    </a>
                </div>
            </div>
    
            <div class="col-md-3 col-sm-6 sponsor-column">
                <div class="sponsor text-center">
                    <a href="http://www.shepherd.org/">
                        <img alt="Sponsor" src="http://www.christopherreeve.org/atf/cf/%7B3d83418f-b967-4c18-8ada-adc2e5355071%7D/SC_LOGO200X200.JPG">
                    </a>
                </div>
            </div>
        
            <div class="col-md-3 col-sm-6 sponsor-column">
                <div class="sponsor text-center">
                    <a href="c4atlanta.org">
                        <img alt="Sponsor" src="https://dkxeo0cgz08dq.cloudfront.net/wp-content/uploads/2012/12/logo_transparent_new_small.png?34348b">
                    </a>
                </div>
            </div>
        </div><!--end of row-->
    </div><!--end of container-->
</section>

	
	
		
</div>
</div>