        <style type="text/css">
            ul.disc {list-style: disc; padding-left: 16px;}
            ul.disc li {
                font-size: 14px; 
                line-height: 20px; 
                margin: 6px 0;
                font-family: 'Muli';
                color: #555;
            }
            .overlay:before {
                background-color: #000;
                opacity: 0.55;
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                z-index: 1;
                top: 0px;
                }

            .image-with-text {
                overflow: hidden;
                position: relative;
                height: 425px;
            }
        </style>
        <style type="text/css">
           .speaker-with-bio .speaker-description {
                width: 75%;
                float: left;
                padding-left: 30px;
            }

            .speaker-with-bio .speaker {
                width: 20%;
                float: left;
                margin-bottom: 0px;
            }
        </style>

<div class="main-container"><a id="home" class="in-page-link"></a>
    
    <!-- Header -->
    <section class="image-with-text background-dark preserve-3d">
        <div class="background-image-holder">
            <img class="background-image" alt="About Image" src="/images/gdrive/jamming at Northside Tavern.jpg">
            <div class="container vertical-align" style="z-index: 2; top: 50%;">
                <div class="row">
                    <div class="col-md-5 col-sm-7">
                        <!-- <h1 class="bold text-white">WHEEL 2 LIVE</h1>
                        <p class="lead text-white gf_muli lh_24">
                            The purpose of this project is to provide wheelchairs to persons with disabilities in underserved communities by presenting a multidisciplinary tour.
                        </p> -->
                        <!-- <a href="#speakers" class="btn btn-hollow mr10">Franks's Story</a> -->
                    </div>
                    
                    <div class="row pt20">
                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                            <h2 class="text-white text-center mb10 upper gf_oswald normal ws3">May 11-25, 2015</h2>
                            <h5 class="bold uppercase text-center block ws2" style="color: #ff9f65;">
                               A journey from atlanta to savannah.
                            </p>
                            <br/>
                            <br/>
                            <div class="countdown mt0" data-date="2015/03/25"></div>
                        </div>
                    </div>
                </div><!--end of row-->
            </div>
            <div class="go-right side-image col-sm-4 col-md-6">
            </div><!--end of container-->
            <div class="overlay"></div>
        </div>
    </section>


    <section class="pricing-options pb20">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="center">
                                <img src="/images/gdrive/ColorWithHarmonica0817.jpg" class="img-responsive img-circle" style="border: 5px solid #ccc;"/>
                            </div>
                            <br/>
                            <div class="row strip-divider call-to-action pt10">
                                <div class="col-sm-12 text-center">
                                    <a href="#"><i class="icon social_facebook"></i></a>
                                    <a href="#"><i class="icon social_twitter"></i></a>
                                </div>
                            </div><!--end of row-->
                        </div>
                        <div class="col-md-9 pl40">
                            <h3 class="semi-bold gf_oswald upper ls1">Frank Barham</h3>
                            <br/>
                            <h1 class="mb0 upper gf_oswald text-primary">Activist. Musician. Motivator.</h1>
                            <hr/>
                            <h3 class="bold mb10">Creating awareness for the disabled.</h3>
                            <p class="lead gf_droid-serif lh_28">
                                [provide a 6 line introduction for Frank] 
                            </p>
                            <br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="topics duplicatable-content pt0 pb0 mb0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="topic row mb0">
                        <div class="image-wrapper" style="height: 250px; background: url(/images/gdrive/holding_fire.jpg); background-position: center; background-size: cover;">
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="topic row mb0">
                        <div class="image-wrapper" style="height: 250px; background: url(/images/gdrive/FrankBarhamBrazilianFusion.jpg); background-position: center; background-size: cover;">
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="topic row mb0">
                        <div class="image-wrapper" style="height: 250px; background: url(/images/gdrive/Frank_Scoot.jpg); background-position: top; background-size: cover;">
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="topic row mb0">
                         <div class="image-wrapper" style="height: 250px; background: url(/images/gdrive/DSC_0017.jpg); background-position: top; background-size: cover;">
                        </div>
                    </div>
                </div>
            </div>
        </div><!--end of container-->
        <div class="overlay"></div>
    </section>
    <section class="pricing-options pb20">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="col-md-9">
                            <h3 class="upper gf_oswald mb10 text-primary">ACTIVIST</h3>
                            <h3 class="bold mb10">Creating awareness for the disabled.</h3>
                            <p class="lead gf_droid-serif lh_28">
                                Frank believes he can do anything no matter the prejudice, discrimination or accessibility. For the past 4 years, Frank has redirected his energies, passion and commitment to producing the musical rhythms that feed his soul. He understands first-hand the importance of strengthening the mind and spirt to advance personal growth. As an outspoken advocate  for the civil and human rights of those living with disabilities, Frank has experience crafting exhibits demonstrating  adaptive aids that emphasize the power of the mind while de-emphasizing the limits of physical disability. In his words, “All that really matters about a person is their mind and their spirit; the body is merely a container.” 
                                <br/>
                                Wheel 2 Live is designed to be informative, inspiring and educational. Frank is challenging himself (and others) to be bold, to stretch his perception of his limits and Embrace all that Possibilities that his life has to offer.
                            </p>
                        </div>
                        <div class="col-md-3">
                            <div class="center">
                                <br/><br/><br/><br/>
                                <img src="/images/gdrive/ColorWithHarmonica0817.jpg" class="img-responsive img-circle" style="border: 5px solid #ccc;"/>
                            </div>
                        </div>
                    </div>

                    <hr/>

                    <div class="row">
                        <div class="col-md-3">
                            <br/>
                            <br/>
                            <div class="center">
                                <img src="/images/gdrive/ColorWithHarmonica0817.jpg" class="img-responsive img-circle" style="border: 5px solid #ccc;"/>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <br/>
                            <h3 class="upper gf_oswald mb10 text-primary">MUSICIAN</h3>
                            <h3 class="bold mb10">Accomplished jazz musician</h3>
                            <p class="lead gf_droid-serif lh_28">
                                A graduate of the University of North Carolina – Chapel Hill, Frank’s journey with the harmonica started in 1980 in a Duke University Hospital room. At 24, after a serious car accident left him a paraplegic, Frank was faced with rebuilding his life; a doctor asked him what he planned on doing now. Frank’s response: “learn to play the harmonica”. Once out of the hospital, he began to hang out with older jazz musicians from the ‘40’s and ‘50’s. Guys like Brother Yusuf Salim and Bus Brown, who took Frank under their wing; sharing stories and musical knowledge during late night jam sessions. 
                            <p/>
                            <p class="lead gf_droid-serif lh_28">
                                His musical journey and development has paralleled and influenced his search for “self”. The diverse musical influences were accompanied by diverse social interactions. Many types of people, old, young, Black, White. Latino, Asain, kind, cruel, enlightened, ignorant, gay, straight crossed his path. It wasn’t always pleasant, but it was ALWAYS informative. Through it all Frank has come to view the key to his music and his life in one word….SYNERGY.
                            </p>
                            <br/>
                        </div>
                    </div>

                    <hr/>

                     <div class="row">
                        <div class="col-md-9">
                            <h3 class="upper gf_oswald mb10 text-primary">MOTIVATOR</h3>
                            <h3 class="bold mb10">Inspiring others through civic leadership</h3>
                            <p class="lead gf_droid-serif lh_28">
                                Choosing between music and sports has been an ongoing theme throughout Frank’s life. In recognition of the 25th anniversary of the Americans with Disabilities Act (ADA) musician and disability advocate Frank Barham will embark on a 302-mile journey from Atlanta to Savannah, rolling, in his everyday wheelchair, along the historic path General Sherman’s Left Flank followed during Sherman’s “March to Sea”. The purpose of this project is to help improve the lives of people with disabilities, by presenting a multidisciplinary tour that will elevate awareness of the disability rights movement while highlighting some of the challenges people with disabilities face in Georgia. All proceeds be donated to Whirlwind Wheelchairs to purchase wheelchairs for people in need and further advance the mission of Wheel 2 Live.
                            </p>
                            <br/>
                            <!-- <div class="row">
                                <div class="col-md-4 col-sm-4">
                                    <div class="faq-item">
                                        <p class="question gf_oswald upper semi-bold ws2 ls1">
                                            WORLDLY MUSICIAN
                                        </p>
                                        <p>
                                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
                                        </p>
                                    </div>
                                </div>
                            
                                <div class="col-md-4 col-sm-4">
                                    <div class="faq-item">
                                        <p class="question gf_oswald upper semi-bold ws2 ls1">
                                            EXTREME ATHLETE
                                        </p>
                                        <p>
                                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.<br><br>
                                        </p>
                                    </div>
                                </div>
                            
                                <div class="col-md-4 col-sm-4">
                                    <div class="faq-item">
                                        <p class="question gf_oswald upper semi-bold ws2 ls1">
                                            LIFE GOALS
                                        </p>
                                        <p>
                                            Voluptate velit esse cillum dolore eu fugiat nulla ptariatur. Excepteur sint occaecat
                                        </p>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                         <div class="col-md-3">
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <div class="center">
                                <img src="/images/gdrive/ColorWithHarmonica0817.jpg" class="img-responsive img-circle" style="border: 5px solid #ccc;"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
