<div class="loader">
    <div class="strip-holder">
        <div class="strip-1"></div>
        <div class="strip-2"></div>
        <div class="strip-3"></div>
    </div>
</div>

<a id="top"></a>
        
<div class="nav-container">
                
        <nav class="overlay-nav">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <a href="index.html">
                            <img alt="Logo" class="logo logo-light" src="img/logo.png">
                            <img alt="Logo" class="logo logo-dark" src="img/logo-dark.png">
                        </a>
                    </div>
            
                    <div class="col-md-10 text-right">
                        <ul class="menu">
                            <li class="has-dropdown"><a class="inner-link" href="#home" target="default">home</a>
                                <ul class="nav-dropdown">
                                    <li><a href="index.html">Register Header</a></li>
                                    <li><a href="home-2.html">Video Header</a></li>
                                    <li><a href="home-3.html">Countdown Header</a></li>
                                    <li><a href="home-4.html">Hero Slider</a></li>
                                    <li><a href="home-5.html">Gallery Header</a></li>
                                    <li><a href="404.html">404 Page</a></li>
                                    <li><a href="500.html">500 Page</a></li>
                                </ul>
                            </li>
                            
                            <li><a class="inner-link" href="#about" target="default">about</a></li><li><a class="inner-link" href="#pricing" target="default">pricing</a></li><li><a class="inner-link" href="#register" target="default">register</a></li><li><a class="inner-link" href="#visitors" target="default">visitors</a></li><li><a class="inner-link" href="#map" target="default">directions</a></li>
                            <li class="social-link"><a href="#"><i class="icon social_twitter"></i></a></li>
                            <li class="social-link"><a href="#"><i class="icon social_facebook"></i></a></li>
                            <li class="social-link instagram-toggle"><a href="#" class="instagram-toggle-init"><i class="icon social_instagram"></i></a></li>
                        </ul>
                        <div class="sidebar-menu-toggle"><i class="icon icon_menu"></i></div>
                        <div class="mobile-menu-toggle"><i class="icon icon_menu"></i></div>
                    </div>
                </div><!--end of row-->
            </div><!--end of container-->
    
            <div class="bottom-border"></div>
    
            <div class="sidebar-menu">
                <img alt="Logo" class="logo" src="img/logo.png">
                <div class="bottom-border"></div>
                <div class="sidebar-content">
            
                    <div class="widget">
                        <ul class="menu">
                            <li><a class="inner-link" href="#home" target="default">home</a></li>
                            
                            <li><a class="inner-link" href="#about" target="default">about</a></li><li><a class="inner-link" href="#pricing" target="default">pricing</a></li><li><a class="inner-link" href="#register" target="default">register</a></li><li><a class="inner-link" href="#visitors" target="default">visitors</a></li><li><a class="inner-link" href="#map" target="default">directions</a></li>
                            <li class="social-link"><a href="#"><i class="icon social_twitter"></i></a></li>
                            <li class="social-link"><a href="#"><i class="icon social_facebook"></i></a></li>
                            <li class="social-link instagram-toggle"><a href="#" class="instagram-toggle-init"><i class="icon social_instagram"></i></a></li>
                        </ul>
                    </div>
            
                    <div class="widget">
                        <ul class="social-profiles">
                            <li><a href="#"><i class="icon social_twitter"></i></a></li>
                            <li><a href="#"><i class="icon social_facebook"></i></a></li>
                            <li><a href="#"><i class="icon social_dribbble"></i></a></li>
                            <li><a href="#"><i class="icon social_instagram"></i></a></li>
                            <li><a href="#"><i class="icon social_googleplus"></i></a></li>
                        </ul>
                    </div>
            
                    <div class="copy-text">
                        <span>© Copyright 2014 Meetup Inc.</span>
                    </div>
                </div><!--end of sidebar content-->
            </div><!--end of sidebar-->
            
            <div class="instagram-sidebar">
                <div class="instafeed" data-user-name="insideenvato">
                    <ul><li><a title="Pic" target="_blank" href="http://instagram.com/p/sbusWhHX9E/"><img src="http://scontent-b.cdninstagram.com/hphotos-xaf1/t51.2885-15/10665502_841159172596226_1056117875_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/sJx9QRnX0V/"><img src="http://scontent-b.cdninstagram.com/hphotos-xfa1/t51.2885-15/10601855_278777095642102_27535846_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/r8wOHcnX2X/"><img src="http://scontent-b.cdninstagram.com/hphotos-xaf1/t51.2885-15/10597417_266843130179816_657983087_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/r4TGBinXzS/"><img src="http://scontent-b.cdninstagram.com/hphotos-xaf1/t51.2885-15/10593435_1448108302130169_1388657504_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/rg78XqnX2u/"><img src="http://scontent-a.cdninstagram.com/hphotos-xpf1/t51.2885-15/10533278_513439518790777_140141995_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/rTSywNnXx1/"><img src="http://scontent-a.cdninstagram.com/hphotos-xaf1/t51.2885-15/10576104_1451859565101026_954183267_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/psM3vhHX1a/"><img src="http://scontent-b.cdninstagram.com/hphotos-xpf1/t51.2885-15/10474951_257126574478383_252662665_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/pnDOliHX1m/"><img src="http://scontent-a.cdninstagram.com/hphotos-xfp1/t51.2885-15/10488729_791768307524377_68067986_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/o9QsBcnX9z/"><img src="http://scontent-a.cdninstagram.com/hphotos-xpa1/t51.2885-15/10453823_296375797190931_1872001490_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/o83Yu0HX7T/"><img src="http://scontent-b.cdninstagram.com/hphotos-xfp1/t51.2885-15/10401799_1505683339650927_922203219_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/sbusWhHX9E/"><img src="http://scontent-b.cdninstagram.com/hphotos-xaf1/t51.2885-15/10665502_841159172596226_1056117875_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/sJx9QRnX0V/"><img src="http://scontent-b.cdninstagram.com/hphotos-xfa1/t51.2885-15/10601855_278777095642102_27535846_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/r8wOHcnX2X/"><img src="http://scontent-b.cdninstagram.com/hphotos-xaf1/t51.2885-15/10597417_266843130179816_657983087_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/r4TGBinXzS/"><img src="http://scontent-b.cdninstagram.com/hphotos-xaf1/t51.2885-15/10593435_1448108302130169_1388657504_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/rg78XqnX2u/"><img src="http://scontent-a.cdninstagram.com/hphotos-xpf1/t51.2885-15/10533278_513439518790777_140141995_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/rTSywNnXx1/"><img src="http://scontent-a.cdninstagram.com/hphotos-xaf1/t51.2885-15/10576104_1451859565101026_954183267_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/psM3vhHX1a/"><img src="http://scontent-b.cdninstagram.com/hphotos-xpf1/t51.2885-15/10474951_257126574478383_252662665_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/pnDOliHX1m/"><img src="http://scontent-a.cdninstagram.com/hphotos-xfp1/t51.2885-15/10488729_791768307524377_68067986_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/o9QsBcnX9z/"><img src="http://scontent-a.cdninstagram.com/hphotos-xpa1/t51.2885-15/10453823_296375797190931_1872001490_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/o83Yu0HX7T/"><img src="http://scontent-b.cdninstagram.com/hphotos-xfp1/t51.2885-15/10401799_1505683339650927_922203219_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/sbusWhHX9E/"><img src="http://scontent-b.cdninstagram.com/hphotos-xaf1/t51.2885-15/10665502_841159172596226_1056117875_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/sJx9QRnX0V/"><img src="http://scontent-b.cdninstagram.com/hphotos-xfa1/t51.2885-15/10601855_278777095642102_27535846_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/r8wOHcnX2X/"><img src="http://scontent-b.cdninstagram.com/hphotos-xaf1/t51.2885-15/10597417_266843130179816_657983087_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/r4TGBinXzS/"><img src="http://scontent-b.cdninstagram.com/hphotos-xaf1/t51.2885-15/10593435_1448108302130169_1388657504_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/rg78XqnX2u/"><img src="http://scontent-a.cdninstagram.com/hphotos-xpf1/t51.2885-15/10533278_513439518790777_140141995_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/rTSywNnXx1/"><img src="http://scontent-a.cdninstagram.com/hphotos-xaf1/t51.2885-15/10576104_1451859565101026_954183267_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/psM3vhHX1a/"><img src="http://scontent-b.cdninstagram.com/hphotos-xpf1/t51.2885-15/10474951_257126574478383_252662665_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/pnDOliHX1m/"><img src="http://scontent-a.cdninstagram.com/hphotos-xfp1/t51.2885-15/10488729_791768307524377_68067986_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/o9QsBcnX9z/"><img src="http://scontent-a.cdninstagram.com/hphotos-xpa1/t51.2885-15/10453823_296375797190931_1872001490_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/o83Yu0HX7T/"><img src="http://scontent-b.cdninstagram.com/hphotos-xfp1/t51.2885-15/10401799_1505683339650927_922203219_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/sbusWhHX9E/"><img src="http://scontent-b.cdninstagram.com/hphotos-xaf1/t51.2885-15/10665502_841159172596226_1056117875_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/sJx9QRnX0V/"><img src="http://scontent-b.cdninstagram.com/hphotos-xfa1/t51.2885-15/10601855_278777095642102_27535846_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/r8wOHcnX2X/"><img src="http://scontent-b.cdninstagram.com/hphotos-xaf1/t51.2885-15/10597417_266843130179816_657983087_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/r4TGBinXzS/"><img src="http://scontent-b.cdninstagram.com/hphotos-xaf1/t51.2885-15/10593435_1448108302130169_1388657504_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/rg78XqnX2u/"><img src="http://scontent-a.cdninstagram.com/hphotos-xpf1/t51.2885-15/10533278_513439518790777_140141995_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/rTSywNnXx1/"><img src="http://scontent-a.cdninstagram.com/hphotos-xaf1/t51.2885-15/10576104_1451859565101026_954183267_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/psM3vhHX1a/"><img src="http://scontent-b.cdninstagram.com/hphotos-xpf1/t51.2885-15/10474951_257126574478383_252662665_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/pnDOliHX1m/"><img src="http://scontent-a.cdninstagram.com/hphotos-xfp1/t51.2885-15/10488729_791768307524377_68067986_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/o9QsBcnX9z/"><img src="http://scontent-a.cdninstagram.com/hphotos-xpa1/t51.2885-15/10453823_296375797190931_1872001490_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/o83Yu0HX7T/"><img src="http://scontent-b.cdninstagram.com/hphotos-xfp1/t51.2885-15/10401799_1505683339650927_922203219_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/sbusWhHX9E/"><img src="http://scontent-b.cdninstagram.com/hphotos-xaf1/t51.2885-15/10665502_841159172596226_1056117875_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/sJx9QRnX0V/"><img src="http://scontent-b.cdninstagram.com/hphotos-xfa1/t51.2885-15/10601855_278777095642102_27535846_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/r8wOHcnX2X/"><img src="http://scontent-b.cdninstagram.com/hphotos-xaf1/t51.2885-15/10597417_266843130179816_657983087_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/r4TGBinXzS/"><img src="http://scontent-b.cdninstagram.com/hphotos-xaf1/t51.2885-15/10593435_1448108302130169_1388657504_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/rg78XqnX2u/"><img src="http://scontent-a.cdninstagram.com/hphotos-xpf1/t51.2885-15/10533278_513439518790777_140141995_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/rTSywNnXx1/"><img src="http://scontent-a.cdninstagram.com/hphotos-xaf1/t51.2885-15/10576104_1451859565101026_954183267_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/psM3vhHX1a/"><img src="http://scontent-b.cdninstagram.com/hphotos-xpf1/t51.2885-15/10474951_257126574478383_252662665_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/pnDOliHX1m/"><img src="http://scontent-a.cdninstagram.com/hphotos-xfp1/t51.2885-15/10488729_791768307524377_68067986_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/o9QsBcnX9z/"><img src="http://scontent-a.cdninstagram.com/hphotos-xpa1/t51.2885-15/10453823_296375797190931_1872001490_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/o83Yu0HX7T/"><img src="http://scontent-b.cdninstagram.com/hphotos-xfp1/t51.2885-15/10401799_1505683339650927_922203219_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/sbusWhHX9E/"><img src="http://scontent-b.cdninstagram.com/hphotos-xaf1/t51.2885-15/10665502_841159172596226_1056117875_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/sJx9QRnX0V/"><img src="http://scontent-b.cdninstagram.com/hphotos-xfa1/t51.2885-15/10601855_278777095642102_27535846_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/r8wOHcnX2X/"><img src="http://scontent-b.cdninstagram.com/hphotos-xaf1/t51.2885-15/10597417_266843130179816_657983087_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/r4TGBinXzS/"><img src="http://scontent-b.cdninstagram.com/hphotos-xaf1/t51.2885-15/10593435_1448108302130169_1388657504_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/rg78XqnX2u/"><img src="http://scontent-a.cdninstagram.com/hphotos-xpf1/t51.2885-15/10533278_513439518790777_140141995_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/rTSywNnXx1/"><img src="http://scontent-a.cdninstagram.com/hphotos-xaf1/t51.2885-15/10576104_1451859565101026_954183267_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/psM3vhHX1a/"><img src="http://scontent-b.cdninstagram.com/hphotos-xpf1/t51.2885-15/10474951_257126574478383_252662665_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/pnDOliHX1m/"><img src="http://scontent-a.cdninstagram.com/hphotos-xfp1/t51.2885-15/10488729_791768307524377_68067986_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/o9QsBcnX9z/"><img src="http://scontent-a.cdninstagram.com/hphotos-xpa1/t51.2885-15/10453823_296375797190931_1872001490_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/o83Yu0HX7T/"><img src="http://scontent-b.cdninstagram.com/hphotos-xfp1/t51.2885-15/10401799_1505683339650927_922203219_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/sbusWhHX9E/"><img src="http://scontent-b.cdninstagram.com/hphotos-xaf1/t51.2885-15/10665502_841159172596226_1056117875_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/sJx9QRnX0V/"><img src="http://scontent-b.cdninstagram.com/hphotos-xfa1/t51.2885-15/10601855_278777095642102_27535846_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/r8wOHcnX2X/"><img src="http://scontent-b.cdninstagram.com/hphotos-xaf1/t51.2885-15/10597417_266843130179816_657983087_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/r4TGBinXzS/"><img src="http://scontent-b.cdninstagram.com/hphotos-xaf1/t51.2885-15/10593435_1448108302130169_1388657504_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/rg78XqnX2u/"><img src="http://scontent-a.cdninstagram.com/hphotos-xpf1/t51.2885-15/10533278_513439518790777_140141995_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/rTSywNnXx1/"><img src="http://scontent-a.cdninstagram.com/hphotos-xaf1/t51.2885-15/10576104_1451859565101026_954183267_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/psM3vhHX1a/"><img src="http://scontent-b.cdninstagram.com/hphotos-xpf1/t51.2885-15/10474951_257126574478383_252662665_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/pnDOliHX1m/"><img src="http://scontent-a.cdninstagram.com/hphotos-xfp1/t51.2885-15/10488729_791768307524377_68067986_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/o9QsBcnX9z/"><img src="http://scontent-a.cdninstagram.com/hphotos-xpa1/t51.2885-15/10453823_296375797190931_1872001490_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/o83Yu0HX7T/"><img src="http://scontent-b.cdninstagram.com/hphotos-xfp1/t51.2885-15/10401799_1505683339650927_922203219_a.jpg"></a></li></ul>
                </div>
            </div>
    
        </nav>
</div>

<div class="main-container"><a id="home" class="in-page-link"></a>
    
    <!-- Header -->
    <section class="image-with-text background-dark preserve-3d">
        <div class="background-image-holder">
            <img class="background-image" alt="About Image" src="/images/gdrive/jamming at Northside Tavern.jpg">
            <div class="container vertical-align" style="z-index: 2; top: 50%;">
                <div class="row">
                    <div class="col-md-5 col-sm-7">
                        <!-- <h1 class="bold text-white">WHEEL 2 LIVE</h1>
                        <p class="lead text-white gf_muli lh_24">
                            The purpose of this project is to provide wheelchairs to persons with disabilities in underserved communities by presenting a multidisciplinary tour.
                        </p> -->
                        <!-- <a href="#speakers" class="btn btn-hollow mr10">Franks's Story</a> -->
                    </div>
                    
                    <div class="row pt20">
                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                            <h3 class="text-white text-center mb10 bold">May 11th - 22th, 2015</h3>
                            <h5 class="bold uppercase text-center block" style="color: #ff9f65;">
                                302-mile - From georgia to savannah
                            </p>
                            <br/>
                            <br/>
                            <div class="countdown mt0" data-date="2015/03/25"></div>
                        </div>
                    </div>
                </div><!--end of row-->
            </div>
            <div class="go-right side-image col-sm-4 col-md-6">
            </div><!--end of container-->
            <div class="overlay"></div>
        </div>
    </section>

    <section class="topics duplicatable-content pt0 pb0 mb0 box-shadow-ccc">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-sm-6 pt40"  style="border-right: 1px solid #ddd;">
                    <div class="topic">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <img src="/images/gdrive/holding_fire.jpg" class="img-responsive img-circle" style="width: 165px; height: 165px; overflow: hidden; position: relative; border: 5px solid #eee;"/>
                            </div>
                        </div>
                        <h3 class="semi-bold gf_oswald upper pt20 text-center">motivator and Athlete</h3>
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <p class="lead fs_14 gf_muli lh_24">
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem error sit voluptatem accusantium doloremque laudantium, totam rem error sit.
                                </p>
                                <div class="row">
                                    <ul class="disc pl40">
                                        <li>Studied in Belgium with Famous Percussionist</li>
                                        <li>UNC Scholarship Athlete</li>
                                        <li>UNC Scholarship Athlete</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 pt40" style="border-right: 1px solid #ddd;">
                    <div class="topic">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <img src="/images/gdrive/FrankBarhamBrazilianFusion.jpg" class="img-responsive img-circle" style="border: 5px solid #eee;"/>
                            </div>
                        </div>
                        <h3 class="semi-bold gf_oswald upper text-center pt20">Brazilian/Jazz Musician</h3>
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <p class="lead fs_14 gf_muli lh_24">
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem error sit voluptatem accusantium doloremque laudantium, totam rem error sit.
                                </p>
                                <div class="row">
                                    <ul class="disc pl40">
                                        <li>Studied in Belgium with Famous Percussionist</li>
                                        <li>UNC Scholarship Athlete</li>
                                        <li>UNC Scholarship Athlete</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 pt40">
                    <div class="topic">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="img-h" style="width: 165px; height: 165px; overflow: hidden;">
                                    <img src="/images/gdrive/wolfpackPOWMIA.jpg" class="img-responsive img-circle" style="width: 165px; height: 100%; overflow: hidden; position: relative; border: 5px solid #eee;"/>
                                </div>
                            </div>
                        </div>
                        <h3 class="semi-bold gf_oswald upper pt20 text-center">disability Activist</h3>
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <p class="lead fs_14 gf_muli lh_24">
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem error sit voluptatem accusantium doloremque laudantium, totam rem error sit.
                                </p>
                                <div class="row">
                                    <ul class="disc pl40">
                                        <li>Studied in Belgium with Famous Percussionist</li>
                                        <li>UNC Scholarship Athlete</li>
                                        <li>UNC Scholarship Athlete</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--end of individual topic-->
                
                <!--end of individual topic-->
                
                <!--end of individual topic-->
            </div><!--end of row-->
            
        </div><!--end of container-->
    </section>
    
    <div class="instagram">
        <div class="instafeed" data-user-name="wheel2live">
            <ul>
            </ul>
        </div>
    </div>


    <section class="image-with-text preserve-3d ">
        
        <div class="container vertical-align">
            <div class="row">
                <div class="col-md-5 col-sm-7">
                    <h3 class="semi-bold gf_oswald upper">Frank Barham</h3>
                    <br/>
                    <h1 class="">Activist. Musician. Motivator.</h1>
                    <p class="lead gf_muli">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    </p>
                </div>
            </div><!--end of row-->
        </div><!--end of container-->
        
        <div class="go-right side-image col-sm-4 col-md-6">
            <div class="background-image-holder">
                <img class="background-image" alt="About Image" src="/images/gdrive/holding_fire.jpg">
            </div>
        </div>
        
    </section>


    <section class="row bgcolor-light-grey">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-md-4 col-sm-3">
                    <div class="center">
                        <img src="/images/gdrive/ColorWithHarmonica0817.jpg" class="img-responsive img-circle" style="border: 5px solid #ccc; height: 250px;"/>
                    </div>
                    <br/>
                    <div class="row strip-divider call-to-action pt10">
                        <div class="col-sm-12 text-center">
                            <a href="#"><i class="icon social_facebook"></i></a>
                            <a href="#"><i class="icon social_twitter"></i></a>
                        </div>
                    </div><!--end of row-->
                </div>
                <div class="col-md-8 col-sm-12">
                    <h1 class="semi-bold gf_oswald inline-block">BIOGRAPHY</h1>
                    <h4 class="ml10 inline-block gf_oswald light upper text-blue">LIFE. MUSIC. ADVOCACY.</h4>
                    <h1 class="fs_24">A graduate of the University of North Carolina – Chapel Hill, Frank’s journey with the harmonica started in 1980 in a Duke University Hospital room.
                    </h1>

                     <br/>

                    <p class="lead gf_droid-serif text-black">
                        A graduate of the University of North Carolina – Chapel Hill, Frank’s journey with the harmonica started in 1980 in a Duke University Hospital room. At 24, after a serious car accident left him a paraplegic, Frank was faced with rebuilding his life; a doctor asked him what he planned on doing now. Frank’s response: “learn to play the harmonica”. Once out of the hospital, he began to hang out with older jazz musicians from the ‘40’s and ‘50’s. Guys like Brother Yusuf Salim and Bus Brown, who took Frank under their wing; sharing stories and musical knowledge during late night jam sessions. He also met and began to study music theory with Ed Paolantonio, a gifted pianist and former student of jazz great Lenny Tristano. After moving to Atlanta, Frank met and continued his studies with renowned pianist and jazz educator, Ted Howe.</p>

                    <p class="lead gf_droid-serif text-black">
                        His musical journey has been an adventure. A quick run to Boston to play with the Cambridge Harmonica Orchestra, headlining Centennial Olympic Park, street music in Europe and NYC, meeting and playing for Toots Thielman in Belgium, studying percussion with world reknowned Senegalese percussionist Mor Thiam;these were all steps along Frank’s journey to discover, not only his “sound”, but himself. His music is a fusion of West African, Afro-Cuban, Funk, Jazz, Blues and Brazilian; drawing on the vitality, power, and expressiveness of each musical form and culture. His philosophy a fusion of the many ideas and people who have touched his life.</p>

                    <p class="lead gf_droid-serif text-black">
                        His search for his “sound” has parallelled his search for “self”. An intense desire to live a full life in spite of his physical disability motivated his activism and his efforts to break down obstacles to employment and transportation. His personal experiences with prejudice toward people with disablities only served to fuel his activism. Many types of people, old, young, Black, White. Latino, Asain, kind, cruel, enlightened, ignorant, gay, straight crossed his path on this journey. It wasn’t always pleasant, but it was ALWAYS informative. Through it all Frank has come to view the key to his music and his life in one word....SYNERGY. Understanding that by fusing the strength of different kinds of music, and people we become stronger, that by helping someone else we help ourself, and that by opening ourselves up and embracing the POSSIBILITIES around us we rise much higher than we can alone. This is the essence of Frank Barham, his music and his social activism.</p>
                    </p>
                </div>
            </div><!--end of row-->
        </div>
    </section>
    
    
    
    <section class="strip-divider call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1>Proudly sponsored by</h1>

                </div>
            </div><!--end of row-->
        
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="col-md-4 col-sm-6 sponsor-column">
                        <div class="sponsor text-center">
                            <a href="#">
                                <img alt="Sponsor" src="/images/sponsor1.png">
                            </a>
                        </div>
                    </div>
            
                    <div class="col-md-4 col-sm-6 sponsor-column">
                        <div class="sponsor text-center">
                            <a href="#">
                                <img alt="Sponsor" src="/images/sponsor2.png">
                            </a>
                        </div>
                    </div>
            
                    <div class="col-md-4 col-sm-6 sponsor-column">
                        <div class="sponsor text-center">
                            <a href="#">
                                <img alt="Sponsor" src="/images/sponsor3.png">
                            </a>
                        </div>
                    </div>
                
                    <div class="col-md-4 col-sm-6 sponsor-column">
                        <div class="sponsor text-center">
                            <a href="#">
                                <img alt="Sponsor" src="/images/sponsor4.png">
                            </a>
                        </div>
                    </div>
                
                    <div class="col-md-4 col-sm-6 sponsor-column">
                        <div class="sponsor text-center">
                            <a href="#">
                                <img alt="Sponsor" src="/images/sponsor5.png">
                            </a>
                        </div>
                    </div>
                
                    <div class="col-md-4 col-sm-6 sponsor-column">
                        <div class="sponsor text-center">
                            <a href="#">
                                <img alt="Sponsor" src="/images/sponsor6.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div><!--end of row-->
        
            <div class="row">
                <div class="col-sm-12 text-center">
                    <span>Interested in becoming a sponsor? <a href="#">Get in touch</a></span>
                </div>
            </div><!--end of row-->
        </div><!--end of container-->
    </section>
</div>
<div class="footer-container">          
    <footer class="short footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <span class="text-white">© Copyright 2014 Meetup Inc.</span>
                </div>
    
                <div class="col-sm-9 text-right">
                    <ul class="menu">
                        <li><a href="#">Press</a></li>
                        <li><a href="#">Terms of service</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a class="inner-link back-to-top" href="#top">Back To Top&nbsp;<i class="icon pe-7s-angle-up-circle"></i></a></li>
                    </ul>
                </div>

            </div><!--end of row-->
        </div><!--end of container-->
    </footer>
</div>