<style type="text/css">
    section {
        padding: 72px 0px;
        background: #fff;
        border-top: 2px solid #ff7f33;
    }

    .countdown {
        text-align: center;
        margin-top: 72px;
        font-family: 'Oswald';
        text-transform: uppercase;
        font-weight: 700;
    }

    .countdown-period {
        font-size: 12px;
        font-weight: 400;
    }

    .countdown-amount {
        font-size: 40px;
        margin-bottom: 15px;
        font-weight: 500;
    }

    .countdown-section {
        width: 22%;
    }

    ul.disc {list-style: disc; padding-left: 16px;}
    ul.disc li {
        font-size: 12px; 
        font-weight: 400; 
        word-spacing: -1px; 
        line-height: 16px; 
        margin: 6px 0;
    }
    .overlay:before {
        background-color: #333333;
        opacity: 0.75;
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        z-index: 1;
        top: 0px;
        }

    .instagram li, .lightbox-gallery li {
        opacity: 0.3;
    }

    .text-seperator {
        display: block;
        height: 1px;
        border: 0;
        border-top-style: solid;
        border-top-width: 1px;
        padding: 0;
        margin: 3em 0;
        text-align: left;
        border-color: #e5e5e5;
    }

    .text-seperator h2 {
        position: relative;
        background: #fff;
        top: -18px;
        display: inline-block;
        padding-left: 0em;
        padding-right: .5em;
        margin: 0;
        text-transform: uppercase;
        letter-spacing: 0;
        font-size: 26px;
    }

    .overlay {background-color: #000000;}

    .image-with-text {
        overflow: hidden;
        position: relative;
        height: 780px;
    }
    .overlay.highlight-tint:before {
        background-color: #ff5f00;
        opacity: 0.1;
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        z-index: 1;
        top: 0px;
        }
</style> 

<div class="main-container"><a id="home" class="in-page-link"></a>

<!-- Header -->
<section class="image-with-text background-dark preserve-3d">
    <div class="background-image-holder" style="background-position: -50% 50% !important;">
        <img class="background-image" alt="About Image" src="/images/gdrive/BrazilDayPlayingHarp2014HiRes.jpg">
        <div class="container vertical-align" style="z-index: 2; top: 38%;">
            <div class="row">
                <div class="col-md-5 col-sm-7">
                    <!-- <h1 class="bold text-white">WHEEL 2 LIVE</h1>
                    <p class="lead text-white gf_muli lh_24">
                        The purpose of this project is to provide wheelchairs to persons with disabilities in underserved communities by presenting a multidisciplinary tour.
                    </p> -->
                    <!-- <a href="#speakers" class="btn btn-hollow mr10">Franks's Story</a> -->
                </div>
                <br/>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="gf_oswald semi-bold uppercase block ws2 mb20 text-highlight">
                            A tour for disability awareness
                        </h4>
                        <h1 class="text-white fs_30 lh_40 gf_droid-serif mb30">
                           Support Frank Barham as he shares good music<br/>
                           and raises funds along a 302-mile journey from <br/>
                           Atlanta to Savannah in recognition of the<br/> 25th ADA Anniversary.
                        </h1>
                        <a href="https://force.c4atlanta.org/campaigns/wheel-2-live-embracing-the-possibilities" class="btn">Donate today</a>
                        <a href="#tour" class="btn btn-hollow">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container vertical-align" style="z-index: 2; top: 40%; right: 0%;">
                <div class="row">
                    <div class="pull-right">
                         <h3 class="mb10 gf_oswald semi-bold uppercase block ws2 text-white text-center">
                            wheel 2 live countdown
                        </h3>
                        <h6 class="gf_oswald semi-bold uppercase block ws2 text-highlight text-center">
                            from atlanta to savannah -- May 11-25, 2015
                        </h6>
                        <div class="countdown mt10" data-date="2015/05/11"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="go-right side-image col-sm-4 col-md-6">
        </div><!--end of container-->
        <div class="overlay highlight-tint"></div>
    </div>
</section>


<section class="topics duplicatable-content pb60">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div style="margin-right: 1.5%; margin-left: 1.5%;">
                            <div class="topic mb0">
                                <h2 class="semi-bold gf_oswald ws2 upper mb15 lh_22 fs_24 text-black">
                                 one man, one journey
                                </h2>
                                <hr/>
                                <h4 class="gf_droid-serif lh_28">We invite you to support and join Frank Barham on a 302-mile from Atlanta to Savannah journey to inspire.</h4>
                                <p class="gf_droid-serif mt20 lh_26 fs_14">
                                    <span class="text-highlight bold mr5 ws-1">WHEEL 2 LIVE</span> is one man’s journey to share good music, raise funds for those needing wheelchairs while highlighting the public on the benefits of the Americans with Disabilities Act (ADA) during its 25th national anniversary.  We invite you to learn more about Frank’s personal story, why the decision to wheel from Atlanta to Savannah and, the triumph the comes from receiving a life changing wheelchair.
                                </p>
                                <!-- <p class="">
                                    <a href="#" class="bold">Volunteer or donate today 
                                        <span class="fa fa-long-arrow-right ml5"></span>
                                    </a>
                                </p> -->
                            </div>
                        </div><!--end of individual topic-->
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="topic mb0">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <h2 class="semi-bold gf_oswald ws2 upper fs_20">
                                     our mission
                                    </h2>
                                    <hr/>
                                    <img src="/images/frank.jpg" class="box-shadow-ccc" style="height: 90px; border-radius: 0; width: 100%;" />
                                     <blockquote class="no-padding mb20 " style="border-left-color: #ff5f00; ">
                                         <h1 class="text-highlight fs_40 lh_12 gf_droid-serif mt15 text-muted pull-right">
                                            &#8221;</h1>
                                         <h6 class="pl10 fs_14 lh_22 mt30 mb0 gf_droid-serif ">
                                          Our mission is to provide free wheelchairs to those who cannot afford them. 
                                        </h6>
                                     </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="topic mb0">
                            <h2 class="semi-bold gf_oswald ws2 upper fs_20">
                                support us
                            </h2>
                            <hr/>
                            <div class="row">
                                <div class="col-md-5">
                                    <img src="http://ecx.images-amazon.com/images/I/51szEiWDWWL._SL500_AA280_.jpg" class="box-shadow-ccc" style="border-radius: 0; height: 90px;"/>
                                </div>
                                <div class="col-md-7 text-right">
                                    <h5 class="bold">
                                        <a href="http://www.cdbaby.com/cd/frankbarhambrazilianfusi">
                                            <span class="fa fa-music mr10"></span> Buy Album Now
                                        </a>
                                    </h5>
                                    <h4 class="bold mt10"><em>Levitating</em></h4>
                                    <h5 class="semi-bold mt5 lh_18">Frank Barham and Brazilian Fusion</h5>
                                </div>
                            </div>
                            
                            <hr/>

                            <div class="bgcolor-white pb20">
                                <!-- <p class="gf_droid-serif fs_14 lh_22 mb20">
                                 Your donation will go toward making Wheel 2 Live a reality and purchasing a new wheelchair for someone!
                                </p> -->
                                <div class="">
                                    <a href="https://force.c4atlanta.org/campaigns/wheel-2-live-embracing-the-possibilities" class="btn btn-block gf_oswald upper normal fs_14 ws2 fs_16">
                                        make a donation today!
                                    </a>
                                </div>
                                </hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="topics duplicatable-content contact-tweets pt40">
    <div class="background-image-holder parallax-background">
        <img class="background-image" alt="About Image" src="/images/map_tinted.jpg">
    </div>

    <div class="container pt40 pb60">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-md-6 col-sm-6">
                     <h4 class="mt0 gf_oswald semi-bold uppercase block ws2 mb20 text-highlight">
                        <span class="fa fa-bullhorn fa-2x mr5"></span> Franks's Call to Action
                    </h4>
                    <iframe width="95%" height="315" src="//www.youtube.com/embed/qtDvuqThLpM" frameborder="0" allowfullscreen></iframe>
                </div>


                 <div class="col-md-6 col-sm-6 pull-right">
                    <div class="topic mb0">
                        <h5 class="gf_oswald semi-bold uppercase block ws2 mt15 mb20 text-highlight">
                            from atlanta to savannah 
                        </h5>
                        <h1 class="semi-bold gf_oswald ws2 upper mb15 lh_22 text-white">
                            302--mile journey
                        </h1>
                        <hr/>
                        <h4 class="gf_droid-serif lh_28 text-white">Using the power of music and personal determination to inspire others to live out their fullest potential.</h4>
                        <p class="gf_droid-serif mt20 lh_26 fs_14">
                            It's historic and symbolic.  During the Civil War in 1864, General William T. Sherman of the Union Army burned a path from Atlanta to Savannah.  His March to the Sea was intended to inspire / frighten Georgian's to cease their support of the Confederacy.  In 2015, Frank's roll to the sea is also intended to inspire Georgians, however, this time it's to inspire them to cease support of attitudes that maybe limiting them from experiencing their life to its fullest.
                        </p>
                        <hr class="mb0"/>
                    </div>
                    <br/>
                    <a href="https://force.c4atlanta.org/campaigns/wheel-2-live-embracing-the-possibilities" class="btn btn-hollow">Learn More</a>
                </div><!--end of individual topic-->
            </div>
        </div>
    </div>
    <div class="overlay" style="opacity: "></div>
    <div class="overlay highlight-tint"></div>
</section>

<section id="tour" class="topics duplicatable-content pb60 pt20">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="">
                    <div class="p20" style="padding: 0 20px;">
                        <div class="text-seperator">
                            <h2 class="semi-bold gf_oswald ws3 upper mb60">A mutli-disciplinary tour</h2>
                        </div>
                    </div>
                    <!-- <h6 class="gf_muli ws0 bold pb10 text-blue upper">#WHEEL2LIVE</h6> -->
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="p20" style="padding: 20px;">
                                <div class="topic mb0">
                                    <div class="img-h" style="height: 200px; position: relative; ">
                                        <img src="/images/gdrive/F Barham Hi-Res-6200.jpg" class="img-responsive" style="width: 100%; height: 100%;position: relative; overflow: hidden;">
                                    </div>
                                    <h4 class="semi-bold gf_oswald ws2 upper mb0 mt30">
                                        <!-- <span class="gf_oswald normal upper text-blue fs_14 mr5">#inspire</span> -->
                                        a 302-mile journey
                                    </h4>
                                    <p class="gf_droid-serif fs_14 mt10">
                                        Frank Barham will embark on an ultra-distance wheelchair marathon from Atlanta to Savannah, to be completed over 14-days.
                                    </p>
                                    <p>
                                        <a href="/the-ride">View the Ride
                                            <span class="fa fa-long-arrow-right ml5"></span>
                                        </a>
                                    </p>
                                </div>
                            </div><!--end of individual topic-->
                        </div>
                        
                        <div class="col-md-4 col-sm-6">
                            <div class="p20" style="padding: 20px;">
                                <div class="topic mb0">
                                    <div class="img-h" style="height: 200px; position: relative; ">
                                        <img src="/images/gdrive/OakhurstGrooving09182014.jpg" class="img-responsive" style="width: 100%; height: 100%; position: relative; overflow: hidden;">
                                    </div>
                                    <h4 class="semi-bold gf_oswald ws2 upper mb0 mt30">
                                        <!-- <span class="gf_oswald normal upper fs_14 text-blue mr5">#engage</span> -->
                                    a musical tour</h4>
                                    <p class="gf_droid-serif fs_14 mt10">
                                        At venues along the route, Frank will perform music from his newly released CD, <em>Levitating,</em> with band, Brazilian Fusion.
                                    </p>
                                    <p>
                                        <a href="/frank-barham">Meet Frank Barham
                                            <span class="fa fa-long-arrow-right ml5"></span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div><!--end of individual topic-->
                        
                        <div class="col-md-4 col-sm-6">
                            <div class="p20" style="padding: 20px;">
                                <div class="topic mb0">
                                    <div class="img-h" style="height: 200px; position: relative; ">
                                        <img src="/images/gdrive/DSC_0123.jpg" class="img-responsive" style="width: 100%; height: 100%; position: relative; overflow: hidden;">
                                    </div>
                                    <h4 class="semi-bold gf_oswald ws2 upper mb0 mt30">
                                        <!-- <span class="gf_oswald normal upper fs_14 text-blue mr5">#advocate</span> -->
                                        A CAMPAIGN FOR AWARENESS</h4>
                                    <p class="gf_droid-serif fs_14 mt10">
                                    Various civic and community events will be planned in recognition of the 25th anniversary of the Americans with Disabilities Act (ADA). 
                                    </p>
                                    <p>
                                        <a href="/support">Support our Cause 
                                            <span class="fa fa-long-arrow-right ml5"></span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div><!--end of individual topic-->
                    </div>
                </div>
            </div><!--end of row-->
        </div>
    </div><!--end of container-->
</section>

<section class="topics duplicatable-content overlay">
    <div class="background-image-holder parallax-background">
        <img class="background-image" alt="About Image" src="images/gdrive/1408399330_LevitatiingWolf.jpg">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 text-center">
                <h2>
                    <span class="text-white semi-bold lh_36 fs_26 gf_droid-serif">
                        “I’ve been wanting to do a big marathon for a long time. What’s most important about this journey is that I’m not competing against others but rather, I’m competing against myself. It’s about doing something that seems impossible. I’m ready to push it to the limit.” 
                    </span>
                </h2>
                <br/>
                <h1 class="gf_oswald upper text-white">&#8212; FRANK BARHAM</h1>
                <cite class="text-highlight">
            </div>
        </div><!--end of row-->
    </div><!--end of container-->
<div class=""></div>
</section>



<section class="duplicatable-content">
    <div class="container">
        <hr class="mt0"/>
        <div class="row">
            <div class="col-md-8">
                <h1 class=" bold ws2 mb0 gf_oswald" style="font-size: 45px; line-height: 50px;">
                    RAISING AWARENESS <br/><span class="text-highlight">BY</span>
                    EMBRACING THE POSSIBILITIES
                </h1>
            </div>
            <div class="col-md-4">
                <a href="https://force.c4atlanta.org/campaigns/wheel-2-live-embracing-the-possibilities" class="btn btn-block gf_oswald upper normal fs_18 ws2 fs_24">
                    donate here !
                </a>
                <p class="text-center mt15">
                    <a href="/support" class="capitalize">
                        Interested in Sponsoring Us? Click Here.
                        <span class="fa fa-rigth-arrow"></span>
                    </a>
                </p>
            </div>
        </div>
        <hr />
    </div><!--end of container-->
</section>


<section class="instagram preserve-3d pb60 pt60">
    <div class="instafeed" data-user-name="wheel2live">
        <ul></ul>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 text-center">
                <a href="http://instagram.com/wheel2live">
                    <h1 class="gf_oswald upper ws3 semi-bold text-white">
                        <span class="fa fa-instagram fa-3x mb20"></span><br/>
                        <span class="fs_36 ws6">Follow us on Instagram</span><br/>
                        <span class="text-highlight mt10 thin inline-block">#wheel2live</span>
                    </h1>
                </a>
            </div>
        </div><!--end of row-->
    </div><!--end of container-->
</section>


<section class="sponsors bgcolor-white">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="semi-bold upper mb0 gf_oswald">Proudly sponsored by</h1>
            </div>
        </div><!--end of row-->
        <hr class=""/>
        <br/>
        <div class="row">
            <div class="col-md-3 col-sm-6 sponsor-column">
                <div class="sponsor text-center">
                    <a href="http://www.amsvans.com/">
                        <img alt="Sponsor" src="http://ee67220d6d27f782feb8-f9db6d286072a6d6499b01588462c44f.r59.cf2.rackcdn.com/amsvans/Articles/Buying/amsvansLogo.jpg">
                    </a>
                </div>
            </div>
    
            <div class="col-md-3 col-sm-6 sponsor-column">
                <div class="sponsor text-center">
                    <a href="http://www.disabilitystudies.emory.edu/home/index.html">
                        <img alt="Sponsor" src="http://www.disabilitystudies.emory.edu/home/images/hero/DSIlogo.png">
                    </a>
                </div>
            </div>
    
            <div class="col-md-3 col-sm-6 sponsor-column">
                <div class="sponsor text-center">
                    <a href="http://www.shepherd.org/">
                        <img alt="Sponsor" src="http://www.christopherreeve.org/atf/cf/%7B3d83418f-b967-4c18-8ada-adc2e5355071%7D/SC_LOGO200X200.JPG">
                    </a>
                </div>
            </div>
        
            <div class="col-md-3 col-sm-6 sponsor-column">
                <div class="sponsor text-center">
                    <a href="c4atlanta.org">
                        <img alt="Sponsor" src="https://dkxeo0cgz08dq.cloudfront.net/wp-content/uploads/2012/12/logo_transparent_new_small.png?34348b">
                    </a>
                </div>
            </div>
        </div><!--end of row-->
    </div><!--end of container-->
</section>



<!-- Introduction -->
<!-- <section class="duplicatable-content pt50">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <img src="/images/gdrive/F Barham Hi-Res-6200.jpg" class="img-responsive img-circle" style="width: 100%; height: 100%; position: relative; width: 165px; height: 165px; overflow: hidden; border: 5px solid #eee;">
                    </div>
                    <div class="col-sm-10">
                        <h3 class=""style="font-family: 'Droid Serif';">"There are AIDS walks, Breast Cancer walks and other various walks and marches...Wheel2Live wants to establish <em class="mr5">rides</em> and multi-city advocacy tours for the disabled. We want to rally support, fund social innovation, increase public awareness, and building linkages that benefit disabled communities around the globe."</h3>
                        
                        <h3 class="upper pt20 semi-bold gf_oswald ls1 ws1"> 
                            - Frank Barham <span class="fs_12 ml5"> musician. activist. athelte. motivator. </span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- <hr class="header-b-b3px-eee"/> -->
