<style type="text/css">
    section {
        padding: 72px 0px;
        background: #fff;
        border-top: 2px solid #ff7f33;
    }

    .countdown {
        text-align: center;
        margin-top: 72px;
        font-family: 'Oswald';
        text-transform: uppercase;
        font-weight: 700;
    }

    .countdown-period {
        font-size: 20px;
        font-weight: 400;
    }

    .countdown-amount {
        font-size: 60px;
        margin-bottom: 10px;
        font-weight: 500;
    }

    .countdown-section {
        width: 15%;
    }

    ul.disc {list-style: disc; padding-left: 16px;}
    ul.disc li {
        font-size: 12px; 
        font-weight: 400; 
        word-spacing: -1px; 
        line-height: 16px; 
        margin: 6px 0;
    }
    .overlay:before {
        background-color: #333333;
        opacity: 0.75;
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        z-index: 1;
        top: 0px;
        }

    .instagram li, .lightbox-gallery li {
        opacity: 0.3;
    }

    .text-seperator {
        display: block;
        height: 1px;
        border: 0;
        border-top-style: solid;
        border-top-width: 1px;
        padding: 0;
        margin: 3em 0;
        text-align: left;
        border-color: #e5e5e5;
    }

    .text-seperator h3 {
        position: relative;
        background: #fff;
        top: -18px;
        display: inline-block;
        padding-left: 0em;
        padding-right: .5em;
        margin: 0;
        text-transform: uppercase;
        letter-spacing: 0;
    }
</style> 

<div class="main-container"><a id="home" class="in-page-link"></a>

<!-- Header -->
<section class="image-with-text background-dark preserve-3d">
    <div class="background-image-holder">
        <img class="background-image" alt="About Image" src="/images/gdrive/BrazilDayPlayingHarp2014HiRes.jpg">
        <div class="container vertical-align" style="z-index: 2; top: 60%;">
            <div class="row">
                <div class="col-md-5 col-sm-7">
                    <!-- <h1 class="bold text-white">WHEEL 2 LIVE</h1>
                    <p class="lead text-white gf_muli lh_24">
                        The purpose of this project is to provide wheelchairs to persons with disabilities in underserved communities by presenting a multidisciplinary tour.
                    </p> -->
                    <!-- <a href="#speakers" class="btn btn-hollow mr10">Franks's Story</a> -->
                </div>
                <br/>
                <br/>
                <br/>
                <div class="row pt60">
                    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                        <h2 class="text-white text-center mb10 upper gf_oswald normal ws3">May 11-25, 2015</h2>
                        <h5 class="bold uppercase text-center block ws2" style="color: #ff9f65;">
                           A journey from atlanta to savannah.
                        </p>
                        <div class="countdown mt0" data-date="2015/05/11"></div>
                    </div>
                </div>
            </div><!--end of row-->
        </div>
        <div class="go-right side-image col-sm-4 col-md-6">
        </div><!--end of container-->
        <div class="overlay"></div>
    </div>
</section>



<section class="topics duplicatable-content pb60 box-shadow-ccc">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="">
                    <!-- <h6 class="gf_muli ws0 bold pb10 text-blue upper">#WHEEL2LIVE</h6> -->
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div style="margin-right: 1.5%; margin-left: 1.5%;">
                                <div class="topic mb0">
                                    <h2 class="semi-bold gf_oswald ws2 upper mb20 fs_24">
                                     A 302-mile journey for ADVOCACY
                                    </h2>
                                    <hr/>
                                    <h3 class="gf_droid-serif">We invite you to support and join Frank Barham on a 302-mile from atlanta to savannah journey to inspire.</h5>
                                    <p class="gf_droid-serif fs_16 text-black mt10 lh_26">
                                         WHEEL 2 LIVE is one man’s journey to share good music, raise funds for those needing wheelchairs while highlighting the public on the benefits of the Americans with Disabilities Act during its 25th national anniversary.
                                    </p>
                                </div>
                            </div><!--end of individual topic-->
                        </div>

                        <div class="col-md-3 col-sm-6 text-center">
                            <div class="topic mb0 well bgcolor-light-grey no-padding">
                                <h5 class="semi-bold gf_oswald upper pt15 pb15 mb10 bgcolor-white"> 
                                    <span class="" style="color: #000">our mission</span>
                                </h5>
                                <h2 class="semi-bold gf_oswald ws2 upper mb10 fs_24 lh_32 pr30 pl30" 
                                style="color: #ff7f33;">
                                  "TO PROVIDE free WHEELCHAIRS TO THOSE who cannot afford them"
                                </h2>
                                <div class="bgcolor-white pt20 pb20">
                                    <a href="#" class="btn gf_oswald upper normal fs_14 ws2">
                                        click here to donate
                                    </a>
                                </div>
                            </div>
                        </div><!--end of individual topic-->

                        <div class="col-md-3 col-sm-6 text-right mt20">
                            <h4 class="semi-bold gf_oswald ws2 upper mb20">
                                <span class="fa fa-calendar mr5"></span> Upcoming Events
                            </h4>
                            <br/>
                            <h6>More events Coming Soon -  Stay tune!</h6>
                            <h6>What: Topic: "Disability Rights and Wrongs"</h6>
                            <p>Please click here for a list of the readings</p>
                            <p>Who: Discussion lead by Dr. Florian Kuippis</p>
                            <p>When: Monday, December 1, 2014, 4:30-6pm, Tarbutton Hall, Room 104</p>
                            </p>Access: For ADA accommodation requests, please contact Access, Disability Services and Resources at (404) 727-9877 (voice) or (404) 712-2049 (TDD).</p>
                            <div class="topic">
                                <p class="gf_droid-serif text-black fs_14 mt10">
                                   
                                </p>
                            </div>
                        </div><!--end of individual topic-->
                        
                    </div>
                </div>
            </div><!--end of row-->
        </div>
    </div><!--end of container-->
</section>



<section class="contact-tweets background-dark">
    <div class="map-holder col-md-12 col-sm-4">
         <iframe src="https://www.google.com/maps/embed?pb=!1m29!1m12!1m3!1d3349589.3701533973!2d-85.58790732241663!3d34.92944603454404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m14!1i0!3e1!4m5!1s0x88f5045d6993098d%3A0x66fede2f990b630b!2sAtlanta%2C+GA!3m2!1d33.7489954!2d-84.3879824!4m5!1s0x88fb75fc78f20659%3A0x4e0c6751036020bc!2sSavannah%2C+GA!3m2!1d32.0835407!2d-81.09983419999999!5e0!3m2!1sen!2sus!4v1416272534796" width="600" height="450" frameborder="0" style="border:0"></iframe>
    </div>
</section>

<section class="topics duplicatable-content pb60 pt20">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="">
                    <div class="p20" style="padding: 0 20px;">
                        <div class="text-seperator">
                            <h3 class="semi-bold gf_oswald ws2 upper mb60">A mutli-disciplinary tour for awarness</h3>
                        </div>
                    </div>
                    <!-- <h6 class="gf_muli ws0 bold pb10 text-blue upper">#WHEEL2LIVE</h6> -->
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="p20" style="padding: 20px;">
                                <div class="topic mb0">
                                    <div class="img-h" style="height: 200px; position: relative; ">
                                        <img src="/images/gdrive/F Barham Hi-Res-6200.jpg" class="img-responsive" style="width: 100%; height: 100%;position: relative; overflow: hidden;">
                                    </div>
                                    <h3 class="semi-bold gf_oswald ws2 upper mb0 mt30">
                                        <!-- <span class="gf_oswald normal upper text-blue fs_14 mr5">#inspire</span> -->
                                        a 302-mile journey
                                    </h3>
                                    <p class="gf_droid-serif text-black fs_14 mt10">
                                        Frank Barham will embark on an ultra-distance wheelchair marathon from Atlanta to Savannah, to be completed over 14-days.
                                    </p>
                                </div>
                            </div><!--end of individual topic-->
                        </div>
                        
                        <div class="col-md-4 col-sm-6">
                            <div class="p20" style="padding: 20px;">
                                <div class="topic mb0">
                                    <div class="img-h" style="height: 200px; position: relative; ">
                                        <img src="/images/gdrive/OakhurstGrooving09182014.jpg" class="img-responsive" style="width: 100%; height: 100%; position: relative; overflow: hidden;">
                                    </div>
                                    <h3 class="semi-bold gf_oswald ws2 upper mb0 mt30">
                                        <!-- <span class="gf_oswald normal upper fs_14 text-blue mr5">#engage</span> -->
                                    a musical tour</h3>
                                    <p class="gf_droid-serif text-black fs_14 mt10">
                                        At venues along the route, Frank will perform music from his newly released CD, <em>Levitating,</em> with band, Brazilian Fusion.
                                    </p>
                                </div>
                            </div>
                        </div><!--end of individual topic-->
                        
                        <div class="col-md-4 col-sm-6">
                            <div class="p20" style="padding: 20px;">
                                <div class="topic mb0">
                                    <div class="img-h" style="height: 200px; position: relative; ">
                                        <img src="/images/gdrive/DSC_0123.jpg" class="img-responsive" style="width: 100%; height: 100%; position: relative; overflow: hidden;">
                                    </div>
                                    <h3 class="semi-bold gf_oswald ws2 upper mb0 mt30">
                                        <!-- <span class="gf_oswald normal upper fs_14 text-blue mr5">#advocate</span> -->
                                        A CAMPAIGN FOR AWARENESS</h3>
                                    <p class="gf_droid-serif text-black fs_14 mt10">
                                    Various civic and community events will be planned in recognition of the 25th anniversary of the Americans with Disabilities Act (ADA). 
                                    </p>
                                </div>
                            </div>
                        </div><!--end of individual topic-->
                    </div>
                </div>
            </div><!--end of row-->
        </div>
    </div><!--end of container-->
</section>



<section class="instagram preserve-3d gallery-header">
    <div class="instafeed" data-user-name="wheel2live">
        <ul></ul>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 text-center">
                <h2>
                    <span class="text-white semi-bold lh_36 fs_28 gf_droid-serif">
                        “I’ve been wanting to do a big marathon for a long time. What’s most important about this journey is that I’m not competing against others but rather, I’m competing against myself. It’s about doing something that seems impossible. I’m ready to push it to the limit.” 
                    </span>
                </h2>
                <br/>
                <h1 class="gf_oswald upper text-white">FRANK BARHAM</h1>
            </div>
        </div><!--end of row-->
    </div><!--end of container-->
</section>






<section class="sponsors bgcolor-white">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="semi-bold upper mb0 gf_oswald">Proudly sponsored by</h1>
            </div>
        </div><!--end of row-->
        <hr class=""/>
        <br/>
        <div class="row">
            <div class="col-md-3 col-sm-6 sponsor-column">
                <div class="sponsor text-center">
                    <a href="#">
                        <img alt="Sponsor" src="http://ee67220d6d27f782feb8-f9db6d286072a6d6499b01588462c44f.r59.cf2.rackcdn.com/amsvans/Articles/Buying/amsvansLogo.jpg">
                    </a>
                </div>
            </div>
    
            <div class="col-md-3 col-sm-6 sponsor-column">
                <div class="sponsor text-center">
                    <a href="#">
                        <img alt="Sponsor" src="http://www.disabilitystudies.emory.edu/home/images/hero/DSIlogo.png">
                    </a>
                </div>
            </div>
    
            <div class="col-md-3 col-sm-6 sponsor-column">
                <div class="sponsor text-center">
                    <a href="#">
                        <img alt="Sponsor" src="http://www.christopherreeve.org/atf/cf/%7B3d83418f-b967-4c18-8ada-adc2e5355071%7D/SC_LOGO200X200.JPG">
                    </a>
                </div>
            </div>
        
            <div class="col-md-3 col-sm-6 sponsor-column">
                <div class="sponsor text-center">
                    <a href="#">
                        <img alt="Sponsor" src="https://dkxeo0cgz08dq.cloudfront.net/wp-content/uploads/2012/12/logo_transparent_new_small.png?34348b">
                    </a>
                </div>
            </div>
        </div><!--end of row-->
    </div><!--end of container-->
</section>



<!-- Introduction -->
<!-- <section class="duplicatable-content pt50">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <img src="/images/gdrive/F Barham Hi-Res-6200.jpg" class="img-responsive img-circle" style="width: 100%; height: 100%; position: relative; width: 165px; height: 165px; overflow: hidden; border: 5px solid #eee;">
                    </div>
                    <div class="col-sm-10">
                        <h3 class=""style="font-family: 'Droid Serif';">"There are AIDS walks, Breast Cancer walks and other various walks and marches...Wheel2Live wants to establish <em class="mr5">rides</em> and multi-city advocacy tours for the disabled. We want to rally support, fund social innovation, increase public awareness, and building linkages that benefit disabled communities around the globe."</h3>
                        
                        <h3 class="upper pt20 semi-bold gf_oswald ls1 ws1"> 
                            - Frank Barham <span class="fs_12 ml5"> musician. activist. athelte. motivator. </span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- <hr class="header-b-b3px-eee"/> -->
