<style type="text/css">
    .image-with-text {
        overflow: hidden;
        position: relative;
        height: 425px;
    }
    .press-coverage div:nth-of-type(2) {height: 250px;}
</style>

<div class="main-container">
		<a id="home" class="in-page-link"></a>

		<!-- Header -->
		<section class="image-with-text background-dark preserve-3d">
			<div class="background-image-holder">
				<img class="background-image" alt="About Image" src="/images/gdrive/holding_fire.jpg">
				<div class="container vertical-align" style="z-index: 2; top: 35%;">
					<div class="row">
						<div class="col-md-5 col-sm-7">
							<!-- <h1 class="bold text-white">WHEEL 2 LIVE</h1>
							<p class="lead text-white gf_muli lh_24">
								The purpose of this project is to provide wheelchairs to persons with disabilities in underserved communities by presenting a multidisciplinary tour.
							</p> -->
							<!-- <a href="#speakers" class="btn btn-hollow mr10">Franks's Story</a> -->
						</div>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<div class="row pt60 pb20">
							<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
								<h2 class="text-white text-center mb10 upper gf_oswald normal ws3">May 11-25, 2015</h2>
		                        <h5 class="bold uppercase text-center block ws2" style="color: #ff9f65;">
		                           A journey from atlanta to savannah
		                        </p>
								<div class="countdown mt0" data-date="2015/05/11"></div>
							</div>
						</div>
					</div><!--end of row-->
				</div>
				<div class="go-right side-image col-sm-4 col-md-6">
				</div><!--end of container-->
				<div class="overlay"></div>
			</div>
		</section>


	
	<a id="about" class="in-page-link"></a>
	
	<section class="inline-video">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<img src="https://origin.ih.constantcontact.com/fs184/1102056358576/img/209.png?a=1115535601613" height="50px">
					<h1 class="mt10 mb10 semi-bold">Frank on Fox 5 News</h1>
					<p class="no-margin">Published on Mar 26, 2015</p>
					<hr class="mt5"/>
					<p class="">
						Thanks for checking out the video.  I hope you'll consider supporting this project by sharing the video with your social and business networks.  I start rolling from Atlanta in my wheelchair on Monday May11th and hope to raise a lot of money to help people with disabilities who are in need.  
					</p>
					<p>Thanks for your support!!!</p>
					<div class="row">
						<div class="col-md-11 pull-left">
	                        <a href="https://force.c4atlanta.org/campaigns/wheel-2-live-embracing-the-possibilities" class="btn btn-block gf_oswald upper normal fs_14 ws2 fs_16">
	                            make a donation today!
	                        </a>
	                    </div>
	                </div>
				</div>
			
				<div class="col-md-8">
					<div class="embedded-video-holder">
						 <iframe width="95%" style="height: 425px;" src="https://www.youtube.com/embed/91mXutdOkbs" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div><!--end of row-->
		</div><!--end of container-->
	</section>

	

<section class="instagram preserve-3d pb60 pt60">
    <div class="instafeed" data-user-name="wheel2live">
        <ul></ul>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 text-center">
                <a href="http://instagram.com/wheel2live">
                    <h1 class="gf_oswald upper ws3 semi-bold text-white">
                        <span class="fa fa-instagram fa-3x mb20"></span><br/>
                        <span class="fs_36 ws6">Follow us on Instagram</span><br/>
                        <span class="text-highlight mt10 thin inline-block">#wheel2live</span>
                    </h1>
                </a>
            </div>
        </div><!--end of row-->
    </div><!--end of container-->
</section>

<section class="" style="background: #f5f5f5;">
	<div class="container">

		<div class="row ">
			<div class="col-md-10 col-md-offset-1">

				<div class="row  press-coverage p-t-60">
					<br/>
					<br/>
					<h1 class="mt0 gf_oswald semi-bold uppercase block ws2 mb20 text-highlight text-center">
                        <span class="fa fa-bullhorn fa-2x mr20"></span> press and news coverage
                    </h1>
					
					<hr/>
		            <br/>
		            <div class="col-md-4 col-sm-6">
		        		<div class="pl10 pr10">
		            	    <div class="topic box-shadow-ccc pb40 bgcolor-white">
		                        <div class="image-wrapper" style="height: 200px; background: url(/img/press/1.png); background-position: center; background-size: cover;">
			                    </div>
			                    <div class="row">
		                        	<div class="col-md-10 col-md-offset-1">
				                        <h4 class="semi-bold gf_oswald upper pt20 text-center fs_18 ws2">	WABE / NPR interview
				                        </h4>
				                        <hr/>
				                        <h4 class="text-center gf_droid-serif lh_24">
				                        	"Ga. Blues Musician Traveling 304 Miles For Disability Awareness"
				                        </h4>
				                        <h5 class="gf_droid-serif lh_30 pl15 text-center text-primary">
				                        	By Wendy Parker
				                        </h5>
				                        <hr class="mt10"/>
				                        <div>
					                        <a class="btn gf_oswald btn-block upper semi-bold ws2" href="http://wabe.org/post/ga-blues-musician-traveling-304-miles-disability-awareness" target="_blank">view article</a>
					                    </div>
				                    </div>
				                </div>
		                    </div>
			            </div>
				    </div>
		            
		            <div class="col-md-4 col-sm-6">
		            	<div class="pl10 pr10">
		                    <div class="topic topic box-shadow-ccc pb40 bgcolor-white">
		                        <div class="image-wrapper" style="height: 200px; background: url(/img/press/2.png); background-position: center; background-size: cover;">
			                    </div>
		                        <div class="row">
		                        	<div class="col-md-10 col-md-offset-1">
			                        	<h4 class="semi-bold gf_oswald upper pt20 text-center fs_18 ws2">
			                        		Cia Brasil 
			                        	</h4>
				                        <hr/>
				                        <h4 class="text-center gf_droid-serif lh_24">
				                        	"Espaço Vip | O talento e o exemplo de Frank Barham"
				                        </h4>
				                        <h5 class="gf_droid-serif lh_30 pl15 text-center text-primary">
											By Fernanda Noronha
				                        </h5>
				                        <hr class="mt10"/>
				                        <a class="btn gf_oswald btn-block upper semi-bold ws2" href="http://www.ciabrasilatlanta.com/index.php?option=com_content&view=category&layout=blog&id=14&Itemid=10" target="_blank">View Article</a>	
				                    </div>
				                </div>
		                    </div>
		                </div>
		            </div>

		            <div class="col-md-4 col-sm-6">
		            	<div class="pl10 pr10">
		                    <div class="topic topic box-shadow-ccc pb40 bgcolor-white">
		                        <div class="image-wrapper" style="height: 200px; background: url(/img/press/3.png); background-position: center; background-size: cover;">
			                    </div>
			                    <div class="row">
		                        	<div class="col-md-10 col-md-offset-1">
			                        	<h4 class="semi-bold gf_oswald upper pt20 text-center fs_18 ws2">
			                        		GoHeels.com  
			                        	</h4>
				                        <hr/>
				                        <h4 class="text-center gf_droid-serif lh_24">
				                        	"My Carolina Experience: <br/>Frank Barham ..."
				                        </h4>
				                        <h5 class="gf_droid-serif lh_30 pl15 text-center text-primary">
				                        	By Zoya Johnson
				                        </h5>
				                        <hr class="mt10"/>
				                        <br/>
				                       	<a class="btn gf_oswald btn-block upper semi-bold ws2" href="http://www.goheels.com/ViewArticle.dbml?DB_OEM_ID=3350&ATCLID=209966698" target="_blank">view article</a>
				                    </div>
			                    </div>
		                    </div>
			            </div>
		            </div>
		        </div><!--end of row-->

		        <div class="row press-coverage">

					<div class="col-md-4 col-sm-6">
		        		<div class="pl10 pr10">
		            	    <div class="topic box-shadow-ccc pb40 bgcolor-white">
		                        <div class="image-wrapper" style="height: 200px; background: url(/img/press/4.png); background-position: center; background-size: cover;">
			                    </div>
			                    <div class="row">
		                        	<div class="col-md-10 col-md-offset-1">
				                        <h4 class="semi-bold gf_oswald upper pt20 text-center fs_18 ws2">	Financial Strategies Group
				                        </h4>
				                       <hr/>
				                        <h4 class="text-center gf_droid-serif lh_24">
				                        	"Wheel 2 Live: Embracing the Possibilities Tour"
				                        </h4>
				                        <h5 class="gf_droid-serif lh_30 pl15 text-center text-primary">
				                        	By Kimberly DeProspero
				                        </h5>
				                        <hr class="mt10"/>
				                        <br/>
				                        <div>
					                        <a class="btn gf_oswald btn-block upper semi-bold ws2" href="http://fsgplanners.com/wheel-2-live-embracing-the-possibilities-tour/" target="_blank">view article</a>
					                    </div>
				                    </div>
				                </div>
		                    </div>
			            </div>
				    </div>
		            
		            <div class="col-md-4 col-sm-6">
		            	<div class="pl10 pr10">
		                    <div class="topic topic box-shadow-ccc pb40 bgcolor-white">
		                        <div class="image-wrapper" style="height: 200px; background: url(/img/press/5.png); background-position: center; background-size: cover;">
			                    </div>
		                        <div class="row">
		                        	<div class="col-md-10 col-md-offset-1">
			                        	<h4 class="semi-bold gf_oswald upper pt20 text-center fs_18 ws2">
			                        		Emory News Center
			                        	</h4>
				                        <hr/>
				                        <h4 class="text-center gf_droid-serif lh_24">
				                        	"Free concert raises disability awareness with Brazilian..."
				                        </h4>
				                        <h5 class="gf_droid-serif lh_30 pl15 text-center text-primary">
											By Emory Report
				                        </h5>
				                        <hr class="mt10"/>
				                        <a class="btn gf_oswald btn-block upper semi-bold ws2" href="http://news.emory.edu/stories/2015/03/er_take_note_frank_barham_performance/campus.html" target="_blank">View Article</a>	
				                    </div>
				                </div>
		                    </div>
		                </div>
		            </div>

		            <div class="col-md-4 col-sm-6">
		            	<div class="pl10 pr10">
		                    <div class="topic topic box-shadow-ccc pb40 bgcolor-white">
		                        <div class="image-wrapper" style="height: 200px; background: url(/img/press/6.png); background-position: center; background-size: cover;">
			                    </div>
			                    <div class="row">
		                        	<div class="col-md-10 col-md-offset-1">
			                        	<h4 class="semi-bold gf_oswald upper pt20 text-center fs_18 ws2">
			                        		Emory QuadTalk
			                        	</h4>
				                        <hr/>
				                        <h4 class="text-center gf_droid-serif lh_24">
				                        	"Emory Disability Studies Initiative Highlights 25th..."
				                        </h4>
				                        <h5 class="gf_droid-serif lh_30 pl15 text-center text-primary">
				                        	By QuadTalk
				                        </h5>
				                        <hr class="mt10"/>
				                       <a class="btn gf_oswald btn-block upper semi-bold ws2" href="https://emoryquad.wordpress.com/2015/03/03/emory-disability-studies-initiative-highlights-25th-ada-anniversary-with-local-jazz-musician-and-disability-activist/" target="_blank">view article</a>
				                    </div>
			                    </div>
		                    </div>
			            </div>
		            </div>
		        </div><!--end of row-->

		        <div class="row  press-coverage">

					<div class="col-md-4 col-sm-6">
		        		<div class="pl10 pr10">
		            	    <div class="topic box-shadow-ccc pb40 bgcolor-white">
		                        <div class="image-wrapper" style="height: 200px; background: url(/img/press/8.png); background-position: center; background-size: cover;">
			                    </div>
			                    <div class="row">
		                        	<div class="col-md-10 col-md-offset-1">
				                        <h4 class="semi-bold gf_oswald upper pt20 text-center fs_18 ws2">	My Fox Atlanta
				                        </h4>
				                       <hr/>
				                        <h4 class="text-center gf_droid-serif lh_24">
				                        	"Musician raising money during Wheel 2 Live Tour"
				                        </h4>
				                        <h5 class="gf_droid-serif lh_30 pl15 text-center text-primary">
				                        	 By myfoxatlanta.com
				                        </h5>
				                        <hr class="mt10"/>
				                        <div>
					                        <a class="btn gf_oswald btn-block upper semi-bold ws2" href="http://www.myfoxatlanta.com/story/28624918/musician-raising-money-during-wheel-2-live-tour" target="_blank">view article</a>
					                    </div>
				                    </div>
				                </div>
		                    </div>
			            </div>
				    </div>
		            
		            <div class="col-md-4 col-sm-6">
		            	<div class="pl10 pr10">
		                    <div class="topic topic box-shadow-ccc pb40 bgcolor-white">
		                        <div class="image-wrapper" style="height: 200px; background: url(/img/press/9.png); background-position: center; background-size: cover;">
			                    </div>
		                        <div class="row">
		                        	<div class="col-md-10 col-md-offset-1">
			                        	<h4 class="semi-bold gf_oswald upper pt20 text-center fs_18 ws2">
			                        		Whirlwind Wheelchair
			                        	</h4>
				                        <hr/>
				                        <h4 class="text-center gf_droid-serif lh_24">
				                        	"ADA’s 25th Anniversary..."
				                        </h4>
				                        <h5 class="gf_droid-serif lh_30 pl15 text-center text-primary">
											By Whirlwind Wheelchair
				                        </h5>
				                        <hr class="mt10"/>
				                        <br/>
				                        <a class="btn gf_oswald btn-block upper semi-bold ws2" href="http://us1.campaign-archive1.com/?u=49a071de9b135cbb3e6a90f79&id=81ba62bf85&e=bfc34c4206" target="_blank">View Article</a>	
				                    </div>
				                </div>
		                    </div>
		                </div>
		            </div>

		            <div class="col-md-4 col-sm-6">
		            	<div class="pl10 pr10">
		                    <div class="topic topic box-shadow-ccc pb40 bgcolor-white">
		                        <div class="image-wrapper" style="height: 200px; background: url(/img/press/7.png); background-position: center; background-size: cover;">
			                    </div>
			                    <div class="row">
		                        	<div class="col-md-10 col-md-offset-1">
			                        	<h4 class="semi-bold gf_oswald upper pt20 text-center fs_18 ws2">
			                        		ada Live! WADA
			                        	</h4>
				                        <hr/>
				                        <h4 class="text-center gf_droid-serif lh_24">
				                        	"Episode 17: ADA Legacy Tour -- Coming Soon to a City near You"
				                        </h4>
				                        <h5 class="gf_droid-serif lh_30 pl15 text-center text-primary">
				                        	By ADA Live
				                        </h5>
				                        <hr class="mt10"/>
				                       <a class="btn gf_oswald btn-block upper semi-bold ws2" href="http://www.adalive.org/episode17" target="_blank">view article</a>
				                    </div>
			                    </div>
		                    </div>
			            </div>
		            </div>
			    </div><!--end of row-->

		        <div class="row press-coverage">
					<div class="col-md-4 col-sm-6">
		        		<div class="pl10 pr10">
		            	    <div class="topic box-shadow-ccc pb40 bgcolor-white">
		                        <div class="image-wrapper" style="height: 200px; background: url(/img/press/10.png); background-position: center; background-size: cover;">
			                    </div>
			                    <div class="row">
		                        	<div class="col-md-10 col-md-offset-1">
				                        <h4 class="semi-bold gf_oswald upper pt20 text-center fs_18 ws2">	My Wheel:Life
				                        </h4>
				                       <hr/>
				                        <h4 class="text-center gf_droid-serif lh_24">
				                        	"Paraplegic Frank Barham Uses His Music to Support..."
				                        </h4>
				                        <h5 class="gf_droid-serif lh_30 pl15 text-center text-primary">
				                        	 By  John E. Phillips
				                        </h5>
				                        <hr class="mt10"/>
				                        <div>
					                        <a class="btn gf_oswald btn-block upper semi-bold ws2" href="http://wheel-life.org/paraplegic-frank-barham-uses-music-support-whirlwind-wheelchair/" target="_blank">view article</a>
					                    </div>
				                    </div>
				                </div>
		                    </div>
			            </div>
				    </div>
		            
		            <div class="col-md-4 col-sm-6">
		            	<div class="pl10 pr10">
		                    <div class="topic topic box-shadow-ccc pb40 bgcolor-white">
		                        <div class="image-wrapper" style="height: 200px; background: url(/img/press/11.png); background-position: center; background-size: cover;">
			                    </div>
		                        <div class="row">
		                        	<div class="col-md-10 col-md-offset-1">
			                        	<h4 class="semi-bold gf_oswald upper pt20 text-center fs_18 ws2">
			                        		New Mobility
			                        	</h4>
				                        <hr/>
				                        <h4 class="text-center gf_droid-serif lh_24">
				                        	"Frank Barham: Saved by Jazz"
				                        </h4>
				                        <h5 class="gf_droid-serif lh_30 pl15 text-center text-primary">
											By Susan Hawkins 
				                        </h5>
				                        <hr class="mt10"/>
				                        <br/>
				                        <a class="btn gf_oswald btn-block upper semi-bold ws2" href="http://www.newmobility.com/2013/08/frank-barham-saved-by-jazz/" target="_blank">View Article</a>	
				                    </div>
				                </div>
		                    </div>
		                </div>
		            </div>
		        </div><!--end of row-->
		    </div>
		</div>
    </div>
</section>


<section class="sponsors bgcolor-white">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="semi-bold upper mb0 gf_oswald">Proudly sponsored by</h1>
            </div>
        </div><!--end of row-->
        <hr class=""/>
        <br/>
        <div class="row">
            <div class="col-md-3 col-sm-6 sponsor-column">
                <div class="sponsor text-center">
                    <a href="http://www.amsvans.com/">
                        <img alt="Sponsor" src="http://ee67220d6d27f782feb8-f9db6d286072a6d6499b01588462c44f.r59.cf2.rackcdn.com/amsvans/Articles/Buying/amsvansLogo.jpg">
                    </a>
                </div>
            </div>
    
            <div class="col-md-3 col-sm-6 sponsor-column">
                <div class="sponsor text-center">
                    <a href="http://www.disabilitystudies.emory.edu/home/index.html">
                        <img alt="Sponsor" src="http://www.disabilitystudies.emory.edu/home/images/hero/DSIlogo.png">
                    </a>
                </div>
            </div>
    
            <div class="col-md-3 col-sm-6 sponsor-column">
                <div class="sponsor text-center">
                    <a href="http://www.shepherd.org/">
                        <img alt="Sponsor" src="http://www.christopherreeve.org/atf/cf/%7B3d83418f-b967-4c18-8ada-adc2e5355071%7D/SC_LOGO200X200.JPG">
                    </a>
                </div>
            </div>
        
            <div class="col-md-3 col-sm-6 sponsor-column">
                <div class="sponsor text-center">
                    <a href="c4atlanta.org">
                        <img alt="Sponsor" src="https://dkxeo0cgz08dq.cloudfront.net/wp-content/uploads/2012/12/logo_transparent_new_small.png?34348b">
                    </a>
                </div>
            </div>
        </div><!--end of row-->
    </div><!--end of container-->
</section>

	
	
		
</div>
</div>