<style type="text/css">
    .image-with-text {
        overflow: hidden;
        position: relative;
        height: 425px;
    }
</style>

	<div class="main-container">
		<a id="home" class="in-page-link"></a>

		<!-- Header -->
		<section class="image-with-text background-dark preserve-3d">
			<div class="background-image-holder">
				<img class="background-image" alt="About Image" src="/images/gdrive/holding_fire.jpg">
				<div class="container vertical-align" style="z-index: 2; top: 35%;">
					<div class="row">
						<div class="col-md-5 col-sm-7">
							<!-- <h1 class="bold text-white">WHEEL 2 LIVE</h1>
							<p class="lead text-white gf_muli lh_24">
								The purpose of this project is to provide wheelchairs to persons with disabilities in underserved communities by presenting a multidisciplinary tour.
							</p> -->
							<!-- <a href="#speakers" class="btn btn-hollow mr10">Franks's Story</a> -->
						</div>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<div class="row pt60 pb20">
							<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
								<h2 class="text-white text-center mb10 upper gf_oswald normal ws3">May 11-25, 2015</h2>
		                        <h5 class="bold uppercase text-center block ws2" style="color: #ff9f65;">
		                           A journey from atlanta to savannah
		                        </p>
								<div class="countdown mt0" data-date="2015/05/11"></div>
							</div>
						</div>
					</div><!--end of row-->
				</div>
				<div class="go-right side-image col-sm-4 col-md-6">
				</div><!--end of container-->
				<div class="overlay"></div>
			</div>
		</section>

		<!-- <section>
			<div class="container">
				<h1 class="pb40 ws5 gf_oswald semi-bold upper text-center mb0">we've got lots of goals.</h1>
				<h3 class="text-center gf_muli lh_30"> We're raising $75,000, donating 500 wheel chairs, raising awareness for the disabled, celebrating ADA'S 25th annivesary, creating a global social enterprise, planning a 302-mile wheelchair marathon, inspiring civic leadership, mobilizing resources to support underserved communities, and engaging anyone who will listen...we need your support!</h3>
			</div>
		</section> -->

		<section class="" style="background: #f5f5f5;">
			<div class="container">
				<div class="row">
	                
	                <div class="col-md-4 col-sm-6">
                		<div class="pl10 pr10">
	                	    <div class="topic box-shadow-ccc pb40 bgcolor-white">
		                        <div class="image-wrapper" style="height: 200px; background: url(/images/gdrive/BrazilDayTheBand2014HiRes.jpg); background-position: center; background-size: cover;">
			                    </div>
			                    <div class="row">
		                        	<div class="col-md-10 col-md-offset-1">
				                        <h4 class="semi-bold gf_oswald upper pt20 text-center fs_18 ws2">monetary support</h4>
				                        <hr/>
				                        <h4 class="text-center gf_droid-serif lh_24">
				                        	We're raising $75k. Help us reach our funding target.
				                        </h4>
				                        <hr/>
				                        <div>
					                        <h5 class="gf_droid-serif lh_24 pl15 mb10">
					                        	Your donation will go toward making Wheel 2 Live a reality AND purchasing a new wheelchair to someone who needs it most!
					                        </h5>
					                        <h5 class="gf_droid-serif lh_24 pl15 mb10">
					                        	To become part of our team just choose your donation level and contribute today!
					                        </h5>
					                        <br/>
					                        <a class="btn gf_oswald btn-block upper semi-bold ws2" data-toggle="modal" data-target="#donations">donate</a>
					                    </div>
				                    </div>
				                </div>
		                    </div>
			            </div>
				    </div>
	                
	                <div class="col-md-4 col-sm-6">
	                	<div class="pl10 pr10">
		                    <div class="topic topic box-shadow-ccc pb40 bgcolor-white">
		                        <div class="image-wrapper" style="height: 200px; background: url(/images/gdrive/JoyWithWolfpack.jpg); background-position: center; background-size: cover;">
			                    </div>
		                        <div class="row">
		                        	<div class="col-md-10 col-md-offset-1">
			                        	<h4 class="semi-bold gf_oswald upper pt20 text-center fs_18 ws2">
			                        		in-kind support
			                        	</h4>
				                        <hr/>
				                        <h4 class="text-center gf_droid-serif lh_24">
				                        	Tell us how you can help make Frank’s journey a reality.
				                        </h4>
				                        <hr/>
				                        <h5 class="gf_droid-serif lh_24 pl15 mb10">
				                        	We’re in the early stages of building momentum for this campaign and appreciate any support you can offer.
				                        </h5>
				                        <h5 class="gf_droid-serif lh_24 pl15 mb10">
											Need ideas? We’ve got 3 major ways you can help starting today!
				                        </h5>
				                        <br/>
				                        <a class="btn gf_oswald btn-block upper semi-bold ws2" data-toggle="modal" data-target="#in-kind">Give Today</a>	
				                    </div>
				                </div>
		                    </div>
		                </div>
		            </div>

	                <div class="col-md-4 col-sm-6">
	                	<div class="pl10 pr10">
		                    <div class="topic topic box-shadow-ccc pb40 bgcolor-white">
		                        <div class="image-wrapper" style="height: 200px; background: url(/images/gdrive/BandAtGrantParkShadeFest.jpg); background-position: center; background-size: cover;">
			                    </div>
			                    <div class="row">
		                        	<div class="col-md-10 col-md-offset-1">
			                        	<h4 class="semi-bold gf_oswald upper pt20 text-center fs_18 ws2">
			                        		Performance + engagements
			                        	</h4>
				                        <hr/>
				                        <h4 class="text-center gf_droid-serif lh_24">
				                        	Host an event featuring Frank Barham and Brazilian Fusion.
				                        </h4>
				                        <hr/>
				                        <h5 class="gf_droid-serif lh_24 pl15 mb10">
				                        	Host a fundraiser for Wheel 2 Live! We’ve got a few ideas of how the smallest gestures can help achieve our ultimate goal of donating wheelchairs. Especially if you’re anywhere along our 302-mile path, we certainly want to hear from you.
				                        </h5>
				                        <br/>
				                       <a class="btn gf_oswald btn-block upper semi-bold ws2" data-toggle="modal" data-target="#engagments">get involved</a>
				                    </div>
			                    </div>
		                    </div>
			            </div>
	                </div>

	            </div><!--end of row-->
	        </div>
		</section>

		
		<!-- Modal "DONTATIONS" -->
		<div class="modal fade" id="donations" tabindex="-1" role="dialog" aria-labelledby="donations" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-body">
		        <h3 class="semi-bold gf_oswald upper pt20 text-center">monetary support</h3>
		        <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                    	<hr class="header-b-b3px-eee mt20"/>
                        <p class="lead fs_16 gf_droid-serif lh_24 text-black">
                            In order to impact the lives of those living with disabilities, it is vital for the Wheel 2 Live campaign to be a success. Help Wheel 2 Live expand the possibilities for people with disabilities by providing an essential tool for survival –a life-changing wheelchair. </p>
                        <p class="lead fs_16 gf_droid-serif lh_24 text-black">
							By making a tax deductible donation to the success this campaign, you’ll be helping Frank Barham support the work of Whirlwind Wheelchairs whose mission makes it possible for every person in the world needing a high quality wheelchair to obtain one.
                        </p>
                        <hr/>
                        
                        <div class="center">
                        	<a href="https://force.c4atlanta.org/campaigns/wheel-2-live-embracing-the-possibilities/" class="btn gf_oswald upper semi-bold ws2">DONATE</a>	
                        </div>
                    </div>
                </div>
		      </div>
		    </div>
		  </div>
		</div>

		<!-- Modal "IN KIND" -->
		<div class="modal fade" id="in-kind" tabindex="-1" role="dialog" aria-labelledby="in-kind" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-body">
		        <h3 class="semi-bold gf_oswald upper pt20 text-center">In Kind Support</h3>
		        <div class="row pb60">
                    <div class="col-md-10 col-md-offset-1">
                    	<hr class="header-b-b3px-eee mt20"/>
                        <p class="lead fs_16 gf_droid-serif lh_24 text-black">
                            Contribute toward the development of Wheel 2 Live by telling us how you can help make Frank’s journey a reality. We’re in the early stages of building momentum for this campaign and appreciate any support you can offer. 
                        </p>
                        <p class="lead fs_16 gf_droid-serif lh_24 text-black">
                        	Specifically, we need support in the following areas:
                        </p>
                        <p class="lead fs_16 gf_droid-serif lh_24 text-black">
                        	<strong>(1) Marketing & Promotions</strong> – We would to chat with you! Connect with us and help spread the word.
                        	For interviews and questions, contact: media@wheel2live.net<br/>
							Please use the links below to help get our message out!
                        </p>
                        <ul class="social-profiles mt20">
	                        <li>
	                        	<a href="https://twitter.com/Wheel2Live">
	                        		<i class="icon social_twitter"></i>
	                        	</a>
	                        </li>
	                        <li>
	                        	<a href="https://www.facebook.com/pages/Wheel-2-Live/328181287367786?ref=br_tf">
	                        		<i class="icon social_facebook"></i>
	                        	</a>
	                        </li>
	                        <li>
	                        	<a href="http://instagram.com/wheel2live/">
	                        		<i class="icon social_instagram"></i>
	                        	</a>
	                        </li>
	                    </ul>
	                    <hr/>
                        
	                    <p class="lead fs_16 gf_droid-serif lh_24 text-black">
	                    	<strong>(2) Technical Support</strong> – What’s better than experiencing this journey first-hand? A front row seat to the documentary of Wheel 2 Live! Help us highlight Frank’s 302-mile journey by donating documentary resources and your generous time to this effort. 
	                    </p>
	                     <p class="lead fs_16 gf_droid-serif lh_24 text-black">
	                    	Contact <a href="mailto:margaret@wheel2live.net">margaret@wheel2live.net</a> for more info. 
	                    </p>
	                    <hr/>
	                    <p class="lead fs_16 gf_droid-serif lh_24 text-black">
	                    	<strong>(3) Supplies</strong> - Your contributions will bring us one step closer to helping someone in need receive a life-changing wheelchair. If you have a product or service related to disabilities, health & wellness, we’d like to hear from you. Remember, all donations are tax deductible. Contact us today!
	                    </p>
                    </div>
                </div>
		      </div>
		    </div>
		  </div>
		</div>

		<!-- Modal "PROMOTIONS" -->
		<div class="modal fade" id="engagments" tabindex="-1" role="dialog" aria-labelledby="promotions" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-body">
		        <h3 class="semi-bold gf_oswald upper pt20 text-center">Performance Engagement</h3>
		        <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                    	<hr class="header-b-b3px-eee mt20"/>
                        <p class="lead fs_16 gf_droid-serif lh_24 text-black">
                            <strong>Get involved.</strong> Joining Frank Barham on this exciting journey isn’t just about grooving to sweet melodies (although we know you’ll love every moment of it). It’s about having a genuine opportunity to educate the public about the everyday benefits afforded by the Americans with Disabilities Act. As we seek to enrich the lives of those directly and indirectly affected by ADA, we invite you push your limits, join us and become the heartbeat of the team. </p>
                        <p class="lead fs_16 gf_droid-serif lh_24 text-black">
                        	<strong>Host An Event</strong> – We gladly welcome adding more events to our calendar. Host a special evening of music featuring Frank Barham or book a guest appearance at your local coffee shop, community, health and cultural centers. Contact Margaret Kargbo at <a href="mailto:margaret@wheel2live.net">Margaret@wheel2live.net today!</a>
                        </p>
                        <hr/>
                    </div>
                </div>
		      </div>
		    </div>
		  </div>
		</div>



<section class="sponsors bgcolor-white">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="semi-bold upper mb0 gf_oswald">Proudly sponsored by</h1>
            </div>
        </div><!--end of row-->
        <hr class=""/>
        <br/>
        <div class="row">
            <div class="col-md-3 col-sm-6 sponsor-column">
                <div class="sponsor text-center">
                    <a href="http://www.amsvans.com/">
                        <img alt="Sponsor" src="http://ee67220d6d27f782feb8-f9db6d286072a6d6499b01588462c44f.r59.cf2.rackcdn.com/amsvans/Articles/Buying/amsvansLogo.jpg">
                    </a>
                </div>
            </div>
    
            <div class="col-md-3 col-sm-6 sponsor-column">
                <div class="sponsor text-center">
                    <a href="http://www.disabilitystudies.emory.edu/home/index.html">
                        <img alt="Sponsor" src="http://www.disabilitystudies.emory.edu/home/images/hero/DSIlogo.png">
                    </a>
                </div>
            </div>
    
            <div class="col-md-3 col-sm-6 sponsor-column">
                <div class="sponsor text-center">
                    <a href="http://www.shepherd.org/">
                        <img alt="Sponsor" src="http://www.christopherreeve.org/atf/cf/%7B3d83418f-b967-4c18-8ada-adc2e5355071%7D/SC_LOGO200X200.JPG">
                    </a>
                </div>
            </div>
        
            <div class="col-md-3 col-sm-6 sponsor-column">
                <div class="sponsor text-center">
                    <a href="c4atlanta.org">
                        <img alt="Sponsor" src="https://dkxeo0cgz08dq.cloudfront.net/wp-content/uploads/2012/12/logo_transparent_new_small.png?34348b">
                    </a>
                </div>
            </div>
        </div><!--end of row-->
    </div><!--end of container-->
</section>

