<style type="text/css">
    .image-with-text {
        overflow: hidden;
        position: relative;
        height: 425px;
    }
</style>

	<div class="main-container">
		<a id="home" class="in-page-link"></a>

		<!-- Header -->
		<section class="image-with-text background-dark preserve-3d">
			<div class="background-image-holder">
				<img class="background-image" alt="About Image" src="/images/gdrive/holding_fire.jpg">
				<div class="container vertical-align" style="z-index: 2; top: 35%;">
					<div class="row">
						<div class="col-md-5 col-sm-7">
							<!-- <h1 class="bold text-white">WHEEL 2 LIVE</h1>
							<p class="lead text-white gf_muli lh_24">
								The purpose of this project is to provide wheelchairs to persons with disabilities in underserved communities by presenting a multidisciplinary tour.
							</p> -->
							<!-- <a href="#speakers" class="btn btn-hollow mr10">Franks's Story</a> -->
						</div>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<div class="row pt60 pb20">
							<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
								<h2 class="text-white text-center mb10 upper gf_oswald normal ws3">May 2015</h2>
                        <h5 class="bold uppercase text-center block ws2" style="color: #ff9f65;">
                           one man. 302-miles. 14-days. a journey from georgia to savannah.
                        </p>
								<div class="countdown mt0" data-date="2015/03/25"></div>
							</div>
						</div>
					</div><!--end of row-->
				</div>
				<div class="go-right side-image col-sm-4 col-md-6">
				</div><!--end of container-->
				<div class="overlay"></div>
			</div>
		</section>

		<!-- <section>
			<div class="container">
				<h1 class="pb40 ws5 gf_oswald semi-bold upper text-center mb0">we've got lots of goals.</h1>
				<h2 class="text-center gf_muli fs_24 lh_30"> We're raising $75,000, donating 500 wheel chairs, raising awareness for the disabled, celebrating ADA'S 25th annivesary, creating a global social enterprise, planning a 302-mile wheelchair marathon, inspiring civic leadership, mobilizing resources to support underserved communities, and engaging anyone who will listen...we need your support!</h3>
			</div>
		</section> -->

		<section class="" style="background: #f5f5f5;">
			<div class="container">
				<div class="row">
	                <div class="col-md-4 col-sm-6">
	                    <div class="topic box-shadow-ccc pb40 bgcolor-white">
	                        <div class="image-wrapper" style="height: 250px; background: url(/images/gdrive/FrankBarhamQuintetwithJulieDexter0817.jpg); background-position: center; background-size: cover;">
		                    </div>
		                    <div class="row" style="margin-top: -75px;">
	                            <div class="col-md-6 col-md-offset-3">
	                                <img src="/images/gdrive/holding_fire.jpg" class="img-responsive img-circle" style="width: 150px; height: 150px; overflow: hidden; position: relative; border: 5px solid #eee;"/>
	                            </div>
	                        </div>
	                        <div class="row">
	                        	<div class="col-md-10 col-md-offset-1">
			                        <h4 class="semi-bold gf_oswald upper pt20 text-center fs_18 ws2">monetary support</h4>
			                        <h3 class="text-center gf_muli mt10 ws-1">We're raising $75k. Help us reach our funding target.</h1>
			                        <div class="center">
			                        	<a class="btn gf_oswald upper semi-bold ws2" data-toggle="modal" data-target="#donations">Our Budget</a>
			                        </div>
			                    </div>
			                </div>
	                    </div>
	                </div>

	                <div class="col-md-4 col-sm-6">
	                    <div class="topic box-shadow-ccc pb40 bgcolor-white">
	                        <div class="image-wrapper" style="height: 250px; background: url(/images/gdrive/JoyWithWolfpack.jpg); background-position: center; background-size: cover;">
		                    </div>
		                     <div class="row" style="margin-top: -75px;">
	                            <div class="col-md-6 col-md-offset-3">
	                                <img src="/images/gdrive/holding_fire.jpg" class="img-responsive img-circle" style="width: 150px; height: 150px; overflow: hidden; position: relative; border: 5px solid #eee;"/>
	                            </div>
	                        </div>
	                        <div class="row">
	                        	<div class="col-md-10 col-md-offset-1">
		                        	<h4 class="semi-bold gf_oswald upper pt20 text-center fs_18 ws2">in-kind support</h4>
			                        <h3 class="text-center gf_muli mt10 ws-1">Donate products and services to help support our efforts. </h1>
			                        <div class="center">
			                        	<a class="btn gf_oswald upper semi-bold ws2" data-toggle="modal" data-target="#in-kind">resources needed</a>	
			                        </div>
			                    </div>
		                    </div>
	                    </div>
	                </div>

	                <div class="col-md-4 col-sm-6">
	                    <div class="topic topic box-shadow-ccc pb40 bgcolor-white">
	                        <div class="image-wrapper" style="height: 250px; background: url(/images/gdrive/listening.jpg); background-position: center; background-size: cover;">
		                    </div>
		                    <div class="row" style="margin-top: -75px;">
	                            <div class="col-md-6 col-md-offset-3">
	                                <img src="/images/gdrive/holding_fire.jpg" class="img-responsive img-circle" style="width: 150px; height: 150px; overflow: hidden; position: relative; border: 5px solid #eee;"/>
	                            </div>
	                        </div>
	                        <div class="row">
	                        	<div class="col-md-10 col-md-offset-1">
		                        	<h4 class="semi-bold gf_oswald upper pt20 text-center fs_18 ws2">
		                        		publicity and Promotion
		                        	</h4>
			                        <h3 class="text-center gf_muli mt10">Help us get the word out and promote our cause.</h1>
			                        <div class="center">
			                        	<a class="btn gf_oswald upper semi-bold ws2" data-toggle="modal" data-target="#promotions">help promote us</a>
			                        </div>
			                    </div>
		                    </div>
	                    </div>
	                </div>
	            </div><!--end of row-->
	            
	            <div class="row">
	                <div class="col-md-4 col-sm-6">
	                    <div class="topic topic box-shadow-ccc pb40 bgcolor-white">
	                        <div class="image-wrapper" style="height: 250px; background: url(/images/gdrive/OnStageVelvetNote714.jpg); background-position: center; background-size: cover;">
		                    </div>
		                    <div class="row" style="margin-top: -75px;">
	                            <div class="col-md-6 col-md-offset-3">
	                                <img src="/images/gdrive/holding_fire.jpg" class="img-responsive img-circle" style="width: 150px; height: 150px; overflow: hidden; position: relative; border: 5px solid #eee;"/>
	                            </div>
	                        </div>
	                        <div class="row">
	                        	<div class="col-md-10 col-md-offset-1">
		                        	<h4 class="semi-bold gf_oswald upper pt20 text-center fs_18 ws2">
		                        		technical support
		                        	</h4>
			                        <h3 class="text-center gf_muli mt10">Calling designers, developers and technical folks. </h1>
			                        <div class="center">
			                        	<a class="btn gf_oswald upper semi-bold ws2" data-toggle="modal" data-target="#tech-support">our tech rollout</a>
			                        </div>
			                    </div>
		                    </div>
	                    </div>
	                </div>

	                <div class="col-md-4 col-sm-6">
	                    <div class="topic topic box-shadow-ccc pb40 bgcolor-white">
	                        <div class="image-wrapper" style="height: 250px; background: url(/images/gdrive/wolfpackPOWMIA.jpg); background-position: center; background-size: cover;">
		                    </div>
		                    <div class="row" style="margin-top: -75px;">
	                            <div class="col-md-6 col-md-offset-3">
	                                <img src="/images/gdrive/holding_fire.jpg" class="img-responsive img-circle" style="width: 150px; height: 150px; overflow: hidden; position: relative; border: 5px solid #eee;"/>
	                            </div>
	                        </div>
	                        <div class="row">
	                        	<div class="col-md-10 col-md-offset-1">
		                        	<h4 class="semi-bold gf_oswald upper pt20 text-center fs_18 ws2">
		                        		public engagement
		                        	</h4>
			                        <h3 class="text-center gf_muli mt10">Help us organize events and public engagements.</h1>
			                        <div class="center">
			                        	<a class="btn gf_oswald upper semi-bold ws2" data-toggle="modal" data-target="#engagements">help us engage</a>
			                        </div>
			                    </div>
		                    </div>
	                    </div>
	                </div>

	                <div class="col-md-4 col-sm-6">
	                    <div class="topic topic box-shadow-ccc pb40 bgcolor-white">
	                        <div class="image-wrapper" style="height: 250px; background: url(/images/gdrive/rockingSoundCheck.jpg); background-position: center; background-size: cover;">
		                    </div>
		                    <div class="row" style="margin-top: -75px;">
	                            <div class="col-md-6 col-md-offset-3">
	                                <img src="/images/gdrive/holding_fire.jpg" class="img-responsive img-circle" style="width: 150px; height: 150px; overflow: hidden; position: relative; border: 5px solid #eee;"/>
	                            </div>
	                        </div>
	                        <div class="row">
	                        	<div class="col-md-10 col-md-offset-1">
		                        	<h4 class="semi-bold gf_oswald upper pt20 text-center fs_18 ws2">
		                        		Performance venues
		                        	</h4>
			                        <h3 class="text-center gf_muli mt10">Help us book musical performances for Frank.</h1>
			                        <div class="center">
			                        	<a class="btn gf_oswald upper semi-bold ws2" data-toggle="modal" data-target="#performances">dates & locations</a>
			                        </div>
			                    </div>
		                    </div>
	                    </div>
	                </div>
	            </div><!--end of row-->
	        </div>
		</section>

		
		<!-- Modal "DONTATIONS" -->
		<div class="modal fade" id="donations" tabindex="-1" role="dialog" aria-labelledby="donations" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-body">
		        <h3 class="semi-bold gf_oswald upper pt20 text-center">monetary support</h3>
		        <hr/>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <p class="lead fs_16 gf_droid-serif lh_24 text-black">
                            In order to impact the lives of those of living beyond disabilities, it is vital for the Wheel 2 Live campaign to be a success. By making a tax deductible donation to this campaign, you'll be directly contributing to the success of Frank Barham’s 300 mile journey from Atlanta to Savannah, Georgia in honor of those pushing the limits of what’s possible. 
                        </p>
                        <p class="lead fs_16 gf_droid-serif lh_24 text-black">
                        	As a frontline supporter of civil and human rights for persons with disabilities, you'll be recognized for your generosity as a capital campaign supporter on the Wheel 2 Live website, social media, print materials and upcoming newsletter.
                        </p>
                        <hr/>
                    </div>
                </div>
		      </div>
		    </div>
		  </div>
		</div>

		<!-- Modal "IN KIND" -->
		<div class="modal fade" id="in-kind" tabindex="-1" role="dialog" aria-labelledby="in-kind" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-body">
		        <h3 class="semi-bold gf_oswald upper pt20 text-center">In Kind Support</h3>
		        <hr/>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <p class="lead fs_16 gf_droid-serif lh_24 text-black">
                             We are requesting your support in donating any products and/or services that can be used to fuel this campaign. We will gladly provide information on how you and your company can support the Wheel 2 Live project through sponsorship and/or participation. Your consideration is greatly appreciated. Your contribution will help keep costs down so we can ensure all the donations received throughout this journey will be applied to the areas that need it most.
                        </p>
                        <ul class="disc pl40 ">
                            <li>Musical Equipment (Hohner, Suzuki Harmonicas, Fender Amps, SURE microphones)</li>
                            <li>Wheelchair manufacturer </li>
                            <li>Rims (Corina, Spinergy, Topolino)</li>
                            <li>Glance Wheels </li>
                            <li>New Tires (Kenda, Primo)</li>
                            <li>Gloves (New Solutions, Harness)</li>
                            <li>Wheelchair Pouches (Adaptable Designs, E-Z Access, Nova)</li>
                            <li>Conversion Van (AMS Vans, RollxVans, RR Van, Braun Ability, Rideaway)</li>
                            <li>Frog Legs Suspension</li>
                            <li>Energy Supplements (Red Bull, Wynette Coffee, 5 Hour Energy, Nutribars, CLIF bars)</li>
                            <li>Orthotics Manufacturer (Hanger Inc.)</li>
                            <li>Health & Fitness (Prep /training; membership at Atlanta Track Club, Golds Gym, LA Fitness)</li>
                            <li>Medical Equipment (Uromed, Coloplast, Mentor)</li>
                        </ul>
                        <hr/>
                    </div>
                </div>
		      </div>
		    </div>
		  </div>
		</div>

		<!-- Modal "PROMOTIONS" -->
		<div class="modal fade" id="promotions" tabindex="-1" role="dialog" aria-labelledby="promotions" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-body">
		        <h3 class="semi-bold gf_oswald upper pt20 text-center">publicity and Promotion</h3>
		        <hr/>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <p class="lead fs_16 gf_droid-serif lh_24 text-black">
                             Over the next 6 months, Wheel 2 Live will launch a crowdfunding campaign, upstart our social media pages and begin outreach to potential sponsors. We would be delighted to have your support spreading the word to your personal and professional network.
                        </p>
                        <ul class="disc pl40 ">
                            <li>Musical Equipment (Hohner, Suzuki Harmonicas, Fender Amps, SURE microphones)<li>Become a Community Partner</li>
                            <li>Provide Social Media Support</li>
                            <li>Printing Partner (promotional goods, brochures, flyers, t-shirts, etc.)</li>
                            <li>Sample Product Demonstrations (specific to campaign needs)</li>
            			</ul>
                        <hr/>
                    </div>
                </div>
		      </div>
		    </div>
		  </div>
		</div>

		<!-- Modal "TECH-SUPPORT" -->
		<div class="modal fade" id="tech-support" tabindex="-1" role="dialog" aria-labelledby="tech-support" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-body">
		        <h3 class="semi-bold gf_oswald upper pt20 text-center">technical support</h3>
		        <hr/>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <p class="lead fs_16 gf_droid-serif lh_24 text-black">
                              Wheel 2 Live will capture Frank Barham’s journey through a multitude of media platforms and tools. Critical to the success of this process is the need for a creative and innovative media team composed of a documentary filmmaker, photographer, writer/blogger, assistant editor and sound engineer. Technical needs include (but not limited to) the following:
                        </p>
                        <ul class="disc pl40 ">
                            <li>Web Design </li>
                            <li>Graphic Design </li>
                            <li>IT Support</li>
            			</ul>
                        <hr/>
                    </div>
                </div>
		      </div>
		    </div>
		  </div>
		</div>

		<!-- Modal "ENGAGEMENTS" -->
		<div class="modal fade" id="engagements" tabindex="-1" role="dialog" aria-labelledby="engagements" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-body">
		        <h3 class="semi-bold gf_oswald upper pt20 text-center">civic engagement</h3>
		        <hr/>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <p class="lead fs_16 gf_droid-serif lh_24 text-black">
                             Wheel 2 Live seeks to touch the hearts and impact the lives of thousands along the course of this journey. With the release of his latest album ‘Levitating’, Frank Barham is ready to share this Brazilian fusion, chromatic harmonic experience with the world. 
                        </p>
                        <ul class="disc pl40 ">
                            <li>Special Musical Performance</li>
                            <li>Lecture/ Speaker Engagement</li>
                            <li>Question & Answer Sessions with Audience</li>
            			</ul>
                    </div>
                </div>
                <hr/>
		      </div>
		    </div>
		  </div>
		</div>

		<!-- Modal "ENGAGEMENTS" -->
		<div class="modal fade" id="performances" tabindex="-1" role="dialog" aria-labelledby="performances" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-body">
		        <h3 class="semi-bold gf_oswald upper pt20 text-center">musical performances</h3>
		        <hr/>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <p class="lead fs_16 gf_droid-serif lh_24 text-black">
                             Wheel 2 Live seeks to touch the hearts and impact the lives of thousands along the course of this journey. With the release of his latest album ‘Levitating’, Frank Barham is ready to share this Brazilian fusion, chromatic harmonic experience with the world. 
                        </p>
                        <ul class="disc pl40 ">
                            <li>Special Musical Performance</li>
                            <li>Lecture/ Speaker Engagement</li>
                            <li>Question & Answer Sessions with Audience</li>
            			</ul>
                    </div>
                </div>
                <hr/>
		      </div>
		    </div>
		  </div>
		</div>