        <style type="text/css">
            .image-with-text {
                overflow: hidden;
                position: relative;
                height: 425px;
            }
        </style>
        <style type="text/css">
           .speaker-with-bio .speaker-description {
                width: 85%;
                float: left;
                padding-left: 30px;
            }

            .speaker-with-bio .speaker {
                width: 15%;
                float: right;
                margin-bottom: 0px;
            }

            .speaker-with-bio .speaker-description {
                width: 100%;
                float: left;
                padding-left: 30px;
            }
            .speaker-with-bio .speaker {
                width: 80%;
                float: right;
                margin-bottom: 0px;
            }
        </style> 
<div class="main-container">

    <a id="home" class="in-page-link"></a>
    <!-- Header -->
    <section class="image-with-text background-dark preserve-3d">
        <div class="background-image-holder">
            <img class="background-image" alt="About Image" src="/images/gdrive/jamming at Northside Tavern.jpg">
            <div class="container vertical-align" style="z-index: 2; top: 50%;">
                <div class="row">
                    <div class="col-md-5 col-sm-7">
                        <!-- <h1 class="bold text-white">WHEEL 2 LIVE</h1>
                        <p class="lead text-white gf_muli lh_24">
                            The purpose of this project is to provide wheelchairs to persons with disabilities in underserved communities by presenting a multidisciplinary tour.
                        </p> -->
                        <!-- <a href="#speakers" class="btn btn-hollow mr10">Franks's Story</a> -->
                    </div>
                    
                    <div class="row pt20">
                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                           <h2 class="text-white text-center mb10 upper gf_oswald normal ws3">May 11-25, 2015</h2>
                                <h5 class="bold uppercase text-center block ws2" style="color: #ff9f65;">
                                   A journey from atlanta to savannah.
                                </p>
                            <br/>
                            <br/>
                            <div class="countdown mt0" data-date="2015/05/11"></div>
                        </div>
                    </div>
                </div><!--end of row-->
            </div>
            <div class="go-right side-image col-sm-4 col-md-6">
            </div><!--end of container-->
            <div class="overlay"></div>
        </div>
    </section>

    <a id="speakers" class="in-page-link"></a>
    
    <section class="speakers duplicatable-content">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-12">
                    <h1 class="semi-bold upper mb0 gf_oswald mb30 text-center">Meet the Team</h1>
                    <hr class="header-b-b3px-eee" />

                    <div class="speaker-with-bio p30 bgcolor-white row">
                        <div class="col-md-3">
                            <div class="speaker">
                                <div class="image-holder">
                                    <img class="background-image img-thumbnail" alt="Speaker" src="images/gdrive/DancingOakhurst09182014.jpg">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-9">
                            <div class="speaker-description">
                                <h2>Frank Barham</h2>
                                <span class="sub gf_oswald normal upper mt10 ws3 fs_12 ls1">Musician. Activist. motivator.</span>
                                <hr class="mt0"/>
                                <p class="gf_droid-serif">
                                   Frank believes he can do anything no matter the prejudice, discrimination and accessibility. For the past 4 years, Frank has redirected his energies, passion and commitment to producing the musical rhythms that feed his soul. He’s also been an outspoken advocate for the civil and human rights of those living with disabilities.
                               </p>
                                <p class="gf_droid-serif">
                                   Through personal experiences, Frank knows first-hand the importance of strengthening your mind, body and spirt to advance your growth. He longs for the day to be viewed as a man first versus a man with a disability. Frank is challenging himself (and others) to be liberated from the perception of our limits.
                               </p>
                                <ul class="social-profiles mt20">
                                    <li><a href="https://twitter.com/frank_barham"><i class="icon social_twitter"></i></a></li>
                                    <li><a href="https://www.facebook.com/frank.barham.Brazilian.Fusion"><i class="icon social_facebook"></i></a></li>
                                </ul>
                                <hr/>
                            </div>
                        </div>
                    </div>

                    <div class="speaker-with-bio p30 bgcolor-white row">
                        <div class="col-md-3">
                            <div class="speaker">
                                <div class="image-holder">
                                    <img class="background-image img-thumbnail" alt="Speaker" src="http://www.iwondermediagroup.com/wp-content/uploads/2014/02/DSC_0958.jpg">
                                    <div class="hover-state text-center preserve3d">
                                        <div class="social-links vertical-align">
                                            <a href="#speakers"><i class="icon social_twitter"></i></a>
                                            <a href="#speakers"><i class="icon social_linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-9">
                            <div class="speaker-description">
                                <h2>Margaret Kargbo</h2>
                                 <span class="sub gf_oswald normal upper mt10 ws3 fs_12 ls1">Storyteller. Producer. Strategist.</span>
                                 <hr class="mt0"/>
                                <p class="gf_droid-serif">
                                   Margaret Kargbo is CEO & Founder of iWonder Media Group. Specializing in project management and client services, iWonder Media offers PR/marketing, business development, event and professional organizing to a mix of corporate, nonprofit and charitable groups. A Journalism graduate from Howard University, Margaret works with clients to leverage relationships and grow their brand by taking creative approaches to fundraising, hands-on learning, media education and business development.
                               </p>
                                <ul class="social-profiles mt20">
                                    <li><a href="#"><i class="icon social_twitter"></i></a></li>
                                    <li><a href="#"><i class="icon social_facebook"></i></a></li>
                                    <li><a href="#"><i class="icon social_instagram"></i></a></li>
                                    <li><a href="#"><i class="icon social_googleplus"></i></a></li>
                                </ul>
                                <p class="pull-right pt15"><a href="http://iwondermedia.com">Website</a></p>
                                <hr/>
                                <div class="widget">
                                    <ul class="social-profiles">
                                        <li>
                                            <a href="https://twitter.com/iwondermedia" class="text-primary"><i class="icon social_twitter "></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.facebook.com/margaret.kargbo?fref=browse_search"><i class="icon social_facebook"></i></a>
                                        </li>
                                        <li>
                                            <a href=""><i class="icon social_linkedin"></i></a>
                                        </li>
                                        <li>
                                            <a href="http://instagram.com/iwondermedia"><i class="icon social_instagram"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/in/mykargbo"><i class="icon social_linkedin"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h1 class="semi-bold upper mb0 gf_oswald mb30 text-center">supporting staff</h1>
                    <hr class="header-b-b3px-eee" />

                    <div class="speaker-with-bio p30 bgcolor-white row">
                        <div class="col-md-3">
                            <div class="speaker">
                                <div class="image-holder">
                                    <img class="background-image img-thumbnail" alt="Speaker" src="/images/team/wildfyre.png">
                                    <div class="hover-state text-center preserve3d">
                                        <div class="social-links vertical-align">
                                            <a href="#speakers"><i class="icon social_twitter"></i></a>
                                            <a href="#speakers"><i class="icon social_linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-9">
                            <div class="speaker-description">
                                <h2>Wildfyre</h2>
                                <span class="sub gf_oswald normal upper mt10 ws3 fs_12 ls1">design. tech. strategy.</span>
                                <hr class="mt0"/>
                                <p class="gf_droid-serif">
                                Wildfyre advises early-stage companies in areas of fundraising, corporate structuring, revenue viability, research-driven concept validation, niche product development, and market positioning. The firm specialies in information architecture, UI/UX, web frameworks, visual design, software development, SEO, and lead generation.</p>
                                <p class="pull-right pt15"><a href="http://www.iwondermediagroup.com/">Website</a></p>
                                <hr/>
                            </div>
                        </div>
                    </div>

                    <div class="speaker-with-bio p30 bgcolor-white row">
                        <div class="col-md-3">
                            <div class="speaker">
                                <div class="image-holder">
                                   <img class="background-image img-thumbnail" alt="Speaker" src="/images/team/natasha.jpg">
                                    <div class="hover-state text-center preserve3d">
                                        <div class="social-links vertical-align">
                                            <a href="#speakers"><i class="icon social_twitter"></i></a>
                                            <a href="#speakers"><i class="icon social_linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-9">
                            <div class="speaker-description">
                                <h2>Natasha Berry</h2>
                                <span class="sub gf_oswald normal upper mt10 ws3 fs_12 ls1">development associate</span>
                                <hr class="mt0"/>
                                <p class="gf_droid-serif">Coming Soon.</p>
                                <hr/>
                            </div>
                        </div>
                    </div>

                    <div class="speaker-with-bio p30 bgcolor-white row">
                        <div class="col-md-3">
                            <div class="speaker">
                                <div class="image-holder">
                                     <img class="background-image img-thumbnail" alt="Speaker" src="http://wildernessactperformanceseries.files.wordpress.com/2014/04/mollie-bio-pic-casual-small.jpg">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-9">
                            <div class="speaker-description">
                                <h2>Mollie Taylor</h2>
                                <span class="sub gf_oswald normal upper mt10 ws3 fs_12 ls1">web visualization consultant</span>
                                <hr class="mt0"/>
                                <p class="gf_droid-serif">
                               Mollie is a PhD candidate in International Affairs, Science, and Technology with a minor in Global Environmental Science at the Sam Nunn School of International Affairs at the Georgia Institute of Technology. Her academic interests include innovation, economic geography, cluster emergence and development, and water resources.</p>

                               <p class="gf_droid-serif">
                                Mollie Taylor received her B.S. in Economics from Georgia Tech with high honors. During and after her Master's degree, she has worked with Georgia Tech's Enterprise Innovation Institute and the Sam Nunn School of International Affairs performing extensive research pertaining to the policy, economy, and sociology of the technology industry, particularly Atlanta's IT industry.</p>
                                <p class="pull-right pt15"><a href="http://www.mollietaylor.com/">Website</a></p>
                                <hr/>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end of individual speaker with bio-->
            </div>
        </div><!--end of container-->
    
    </section>
</div>



<section class="sponsors bgcolor-white no-border">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="semi-bold upper mb0 gf_oswald">Proudly sponsored by</h1>
            </div>
        </div><!--end of row-->
        <hr class=""/>
        <br/>
        <div class="row">
            <div class="col-md-3 col-sm-6 sponsor-column">
                <div class="sponsor text-center">
                    <a href="#">
                        <img alt="Sponsor" src="http://ee67220d6d27f782feb8-f9db6d286072a6d6499b01588462c44f.r59.cf2.rackcdn.com/amsvans/Articles/Buying/amsvansLogo.jpg">
                    </a>
                </div>
            </div>
    
            <div class="col-md-3 col-sm-6 sponsor-column">
                <div class="sponsor text-center">
                    <a href="#">
                        <img alt="Sponsor" src="http://www.disabilitystudies.emory.edu/home/images/hero/DSIlogo.png">
                    </a>
                </div>
            </div>
    
            <div class="col-md-3 col-sm-6 sponsor-column">
                <div class="sponsor text-center">
                    <a href="#">
                        <img alt="Sponsor" src="http://www.christopherreeve.org/atf/cf/%7B3d83418f-b967-4c18-8ada-adc2e5355071%7D/SC_LOGO200X200.JPG">
                    </a>
                </div>
            </div>
        
            <div class="col-md-3 col-sm-6 sponsor-column">
                <div class="sponsor text-center">
                    <a href="#">
                        <img alt="Sponsor" src="https://dkxeo0cgz08dq.cloudfront.net/wp-content/uploads/2012/12/logo_transparent_new_small.png?34348b">
                    </a>
                </div>
            </div>
        </div><!--end of row-->
    </div><!--end of container-->
</section>


