        <style type="text/css">
            section {
                padding: 72px 0px;
                background: #fff;
                border-top: 5px solid #ff7f33;
            }

            .btn-hollow {
            /*background: rgba(0,0,0, .25);*/
            border: 2px solid #fff;
            color: #fff;
            }

            .countdown {
                text-align: center;
                margin-top: 72px;
                font-family: 'Oswald';
                text-transform: uppercase;
                font-weight: 700;
            }

            .countdown-period {
                font-size: 20px;
                font-weight: 400;
            }

            .countdown-amount {
                font-size: 100px;
                margin-bottom: 10px;
                font-weight: 500;
            }

            .countdown-section {
                width: 25%;
            }

            ul.disc {list-style: disc; padding-left: 16px;}
            ul.disc li {
                font-size: 12px; 
                font-weight: 600; 
                word-spacing: -1px; 
                line-height: 16px; 
                margin: 6px 0;
            }
            .overlay:before {
                background-color: #333333;
                opacity: 0.75;
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                z-index: 1;
                top: 0px;
                }

            .image-with-text {
                overflow: hidden;
                position: relative;
                height: 425px;
            }
        </style> 
<div class="main-container">

    <a id="home" class="in-page-link"></a>
    <!-- Header -->
    <section class="image-with-text background-dark preserve-3d">
        <div class="background-image-holder">
            <img class="background-image" alt="About Image" src="/images/gdrive/jamming at Northside Tavern.jpg">
            <div class="container vertical-align" style="z-index: 2; top: 50%;">
                <div class="row">
                    <div class="col-md-5 col-sm-7">
                        <!-- <h1 class="bold text-white">WHEEL 2 LIVE</h1>
                        <p class="lead text-white gf_muli lh_24">
                            The purpose of this project is to provide wheelchairs to persons with disabilities in underserved communities by presenting a multidisciplinary tour.
                        </p> -->
                        <!-- <a href="#speakers" class="btn btn-hollow mr10">Franks's Story</a> -->
                    </div>
                    
                    <div class="row pt20">
                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                            <h3 class="text-white text-center mb10 bold">May 11th - 22th, 2015</h3>
                            <h5 class="bold uppercase text-center block" style="color: #ff9f65;">
                                302-mile - From georgia to savannah
                            </p>
                            <br/>
                            <br/>
                            <div class="countdown mt0" data-date="2015/03/25"></div>
                        </div>
                    </div>
                </div><!--end of row-->
            </div>
            <div class="go-right side-image col-sm-4 col-md-6">
            </div><!--end of container-->
            <div class="overlay"></div>
        </div>
    </section>

    <a id="speakers" class="in-page-link"></a>
    
    <section class="speakers duplicatable-content">
    
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Speakers</h1>
                </div>
            </div><!--end of row-->
            
            <div class="row">
        
                <div class="col-md-6 col-sm-12">
                    <div class="speaker-with-bio">
                        <div class="speaker">
                            <div class="image-holder">
                                <img class="background-image" alt="Speaker" src="images/gdrive/DSC_0017.jpg">
                                <div class="hover-state text-center preserve3d">
                                    <div class="social-links vertical-align">
                                        <a href="#speakers"><i class="icon social_twitter"></i></a>
                                        <a href="#speakers"><i class="icon social_linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="speaker-description">
                            <h2>Frank Barham</h2>
                            <span class="sub">Founder</span>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                            </p>
                        </div>
                    </div>
                </div><!--end of individual speaker with bio-->
                
                <div class="col-md-6 col-sm-12">
                    <div class="speaker-with-bio">
                        <div class="speaker">
                            <div class="image-holder">
                                <img class="background-image" alt="Speaker" src="images/gdrive/DSC_0017.jpg">
                                <div class="hover-state text-center preserve3d">
                                    <div class="social-links vertical-align">
                                        <a href="#speakers"><i class="icon social_twitter"></i></a>
                                        <a href="#speakers"><i class="icon social_linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="speaker-description">
                            <h2>Margaret Kargbo</h2>
                            <span class="sub">Wild Ideas Man</span>
                            <p>
                                Margaret Kargbo is CEO & Founder of iWonder Media Group. Specializing in project management and client services, iWonder Media offers PR/marketing, business development, event and professional organizing to a mix of corporate, nonprofit and charitable groups. 
                            </p>
                        </div>
                    </div>
                </div><!--end of individual speaker with bio-->
                
                <div class="col-md-6 col-sm-12">
                    <div class="speaker-with-bio">
                        <div class="speaker">
                            <div class="image-holder">
                                <img class="background-image" alt="Speaker" src="images/gdrive/DSC_0017.jpg">
                                <div class="hover-state text-center preserve3d">
                                    <div class="social-links vertical-align">
                                        <a href="#speakers"><i class="icon social_twitter"></i></a>
                                        <a href="#speakers"><i class="icon social_linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="speaker-description">
                            <h2>Simon Sesz</h2>
                            <span class="sub">CEO of WhoDat</span>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                            </p>
                        </div>
                    </div>
                </div><!--end of individual speaker with bio-->
                
                <div class="col-md-6 col-sm-12">
                    <div class="speaker-with-bio">
                        <div class="speaker">
                            <div class="image-holder">
                                <img class="background-image" alt="Speaker" src="images/gdrive/DSC_0017.jpg">
                                <div class="hover-state text-center preserve3d">
                                    <div class="social-links vertical-align">
                                        <a href="#speakers"><i class="icon social_twitter"></i></a>
                                        <a href="#speakers"><i class="icon social_linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="speaker-description">
                            <h2>Pete Dunn</h2>
                            <span class="sub">HR at CodeMogul</span>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                            </p>
                        </div>
                    </div>
                </div><!--end of individual speaker with bio-->
        
            </div><!--end of row-->
            
            
        </div><!--end of container-->
    
    </section>
</div>
