<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Meetup</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Google Font Library -->
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Muli:300,400,400italic,300italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,200,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Clicker+Script' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Nunito:400,700,300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>
        <!-- Google Font Library -->

        
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/css/flexslider.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/css/elegant-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/css/pe-icon-7-stroke.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/css/theme-hot.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/css/base.css" rel="stylesheet" type="text/css" media="all"/>


        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
    </head>
    <body>


        <div class="loader">
    <div class="strip-holder">
        <div class="strip-1"></div>
        <div class="strip-2"></div>
        <div class="strip-3"></div>
    </div>
</div>
        
<a id="top"></a>
        
<div class="nav-container">
        <nav class="overlay-nav">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <a href="index.html">
                            <img alt="Logo" class="logo logo-light" src="img/logo.png">
                            <img alt="Logo" class="logo logo-dark" src="img/logo-dark.png">
                        </a>
                    </div>
            
                    <div class="col-md-10 text-right">
                        <ul class="menu">
                            <li class="has-dropdown"><a class="inner-link" href="#home" target="default">home</a>
                                <ul class="nav-dropdown">
                                    <li><a href="index.html">Register Header</a></li>
                                    <li><a href="home-2.html">Video Header</a></li>
                                    <li><a href="home-3.html">Countdown Header</a></li>
                                    <li><a href="home-4.html">Hero Slider</a></li>
                                    <li><a href="home-5.html">Gallery Header</a></li>
                                    <li><a href="404.html">404 Page</a></li>
                                    <li><a href="500.html">500 Page</a></li>
                                </ul>
                            </li>
                            
                            <li><a class="inner-link" href="#speakers" target="default">speakers</a></li><li><a class="inner-link" href="#schedule" target="default">schedule</a></li><li><a class="inner-link" href="#pricing" target="default">pricing</a></li><li><a class="inner-link" href="#register" target="default">register</a></li>
                            <li class="social-link"><a href="#"><i class="icon social_twitter"></i></a></li>
                            <li class="social-link"><a href="#"><i class="icon social_facebook"></i></a></li>
                            <li class="social-link instagram-toggle"><a href="#" class="instagram-toggle-init"><i class="icon social_instagram"></i></a></li>
                        </ul>
                        <div class="sidebar-menu-toggle"><i class="icon icon_menu"></i></div>
                        <div class="mobile-menu-toggle"><i class="icon icon_menu"></i></div>
                    </div>
                </div><!--end of row-->
            </div><!--end of container-->
    
            <div class="bottom-border"></div>
    
            <div class="sidebar-menu">
                <img alt="Logo" class="logo" src="img/logo.png">
                <div class="bottom-border"></div>
                <div class="sidebar-content">
            
                    <div class="widget">
                        <ul class="menu">
                            <li><a class="inner-link" href="#home" target="default">home</a></li>
                            
                            <li><a class="inner-link" href="#speakers" target="default">speakers</a></li><li><a class="inner-link" href="#schedule" target="default">schedule</a></li><li><a class="inner-link" href="#pricing" target="default">pricing</a></li><li><a class="inner-link" href="#register" target="default">register</a></li>
                            <li class="social-link"><a href="#"><i class="icon social_twitter"></i></a></li>
                            <li class="social-link"><a href="#"><i class="icon social_facebook"></i></a></li>
                            <li class="social-link instagram-toggle"><a href="#" class="instagram-toggle-init"><i class="icon social_instagram"></i></a></li>
                        </ul>
                    </div>
            
                    <div class="widget">
                        <ul class="social-profiles">
                            <li><a href="#"><i class="icon social_twitter"></i></a></li>
                            <li><a href="#"><i class="icon social_facebook"></i></a></li>
                            <li><a href="#"><i class="icon social_dribbble"></i></a></li>
                            <li><a href="#"><i class="icon social_instagram"></i></a></li>
                            <li><a href="#"><i class="icon social_googleplus"></i></a></li>
                        </ul>
                    </div>
            
                    <div class="copy-text">
                        <span>© Copyright 2014 Meetup Inc.</span>
                    </div>
                </div><!--end of sidebar content-->
            </div><!--end of sidebar-->
            
            <div class="instagram-sidebar">
                <div class="instafeed" data-user-name="insideenvato">
                    <ul><li><a title="Pic" target="_blank" href="http://instagram.com/p/sbusWhHX9E/"><img src="http://scontent-b.cdninstagram.com/hphotos-xaf1/t51.2885-15/10665502_841159172596226_1056117875_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/sJx9QRnX0V/"><img src="http://scontent-b.cdninstagram.com/hphotos-xfa1/t51.2885-15/10601855_278777095642102_27535846_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/r8wOHcnX2X/"><img src="http://scontent-b.cdninstagram.com/hphotos-xaf1/t51.2885-15/10597417_266843130179816_657983087_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/r4TGBinXzS/"><img src="http://scontent-b.cdninstagram.com/hphotos-xaf1/t51.2885-15/10593435_1448108302130169_1388657504_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/rg78XqnX2u/"><img src="http://scontent-a.cdninstagram.com/hphotos-xpf1/t51.2885-15/10533278_513439518790777_140141995_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/rTSywNnXx1/"><img src="http://scontent-a.cdninstagram.com/hphotos-xaf1/t51.2885-15/10576104_1451859565101026_954183267_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/psM3vhHX1a/"><img src="http://scontent-b.cdninstagram.com/hphotos-xpf1/t51.2885-15/10474951_257126574478383_252662665_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/pnDOliHX1m/"><img src="http://scontent-a.cdninstagram.com/hphotos-xfp1/t51.2885-15/10488729_791768307524377_68067986_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/o9QsBcnX9z/"><img src="http://scontent-a.cdninstagram.com/hphotos-xpa1/t51.2885-15/10453823_296375797190931_1872001490_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/o83Yu0HX7T/"><img src="http://scontent-b.cdninstagram.com/hphotos-xfp1/t51.2885-15/10401799_1505683339650927_922203219_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/sbusWhHX9E/"><img src="http://scontent-b.cdninstagram.com/hphotos-xaf1/t51.2885-15/10665502_841159172596226_1056117875_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/sJx9QRnX0V/"><img src="http://scontent-b.cdninstagram.com/hphotos-xfa1/t51.2885-15/10601855_278777095642102_27535846_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/r8wOHcnX2X/"><img src="http://scontent-b.cdninstagram.com/hphotos-xaf1/t51.2885-15/10597417_266843130179816_657983087_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/r4TGBinXzS/"><img src="http://scontent-b.cdninstagram.com/hphotos-xaf1/t51.2885-15/10593435_1448108302130169_1388657504_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/rg78XqnX2u/"><img src="http://scontent-a.cdninstagram.com/hphotos-xpf1/t51.2885-15/10533278_513439518790777_140141995_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/rTSywNnXx1/"><img src="http://scontent-a.cdninstagram.com/hphotos-xaf1/t51.2885-15/10576104_1451859565101026_954183267_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/psM3vhHX1a/"><img src="http://scontent-b.cdninstagram.com/hphotos-xpf1/t51.2885-15/10474951_257126574478383_252662665_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/pnDOliHX1m/"><img src="http://scontent-a.cdninstagram.com/hphotos-xfp1/t51.2885-15/10488729_791768307524377_68067986_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/o9QsBcnX9z/"><img src="http://scontent-a.cdninstagram.com/hphotos-xpa1/t51.2885-15/10453823_296375797190931_1872001490_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/o83Yu0HX7T/"><img src="http://scontent-b.cdninstagram.com/hphotos-xfp1/t51.2885-15/10401799_1505683339650927_922203219_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/sbusWhHX9E/"><img src="http://scontent-b.cdninstagram.com/hphotos-xaf1/t51.2885-15/10665502_841159172596226_1056117875_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/sJx9QRnX0V/"><img src="http://scontent-b.cdninstagram.com/hphotos-xfa1/t51.2885-15/10601855_278777095642102_27535846_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/r8wOHcnX2X/"><img src="http://scontent-b.cdninstagram.com/hphotos-xaf1/t51.2885-15/10597417_266843130179816_657983087_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/r4TGBinXzS/"><img src="http://scontent-b.cdninstagram.com/hphotos-xaf1/t51.2885-15/10593435_1448108302130169_1388657504_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/rg78XqnX2u/"><img src="http://scontent-a.cdninstagram.com/hphotos-xpf1/t51.2885-15/10533278_513439518790777_140141995_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/rTSywNnXx1/"><img src="http://scontent-a.cdninstagram.com/hphotos-xaf1/t51.2885-15/10576104_1451859565101026_954183267_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/psM3vhHX1a/"><img src="http://scontent-b.cdninstagram.com/hphotos-xpf1/t51.2885-15/10474951_257126574478383_252662665_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/pnDOliHX1m/"><img src="http://scontent-a.cdninstagram.com/hphotos-xfp1/t51.2885-15/10488729_791768307524377_68067986_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/o9QsBcnX9z/"><img src="http://scontent-a.cdninstagram.com/hphotos-xpa1/t51.2885-15/10453823_296375797190931_1872001490_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/o83Yu0HX7T/"><img src="http://scontent-b.cdninstagram.com/hphotos-xfp1/t51.2885-15/10401799_1505683339650927_922203219_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/sbusWhHX9E/"><img src="http://scontent-b.cdninstagram.com/hphotos-xaf1/t51.2885-15/10665502_841159172596226_1056117875_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/sJx9QRnX0V/"><img src="http://scontent-b.cdninstagram.com/hphotos-xfa1/t51.2885-15/10601855_278777095642102_27535846_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/r8wOHcnX2X/"><img src="http://scontent-b.cdninstagram.com/hphotos-xaf1/t51.2885-15/10597417_266843130179816_657983087_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/r4TGBinXzS/"><img src="http://scontent-b.cdninstagram.com/hphotos-xaf1/t51.2885-15/10593435_1448108302130169_1388657504_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/rg78XqnX2u/"><img src="http://scontent-a.cdninstagram.com/hphotos-xpf1/t51.2885-15/10533278_513439518790777_140141995_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/rTSywNnXx1/"><img src="http://scontent-a.cdninstagram.com/hphotos-xaf1/t51.2885-15/10576104_1451859565101026_954183267_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/psM3vhHX1a/"><img src="http://scontent-b.cdninstagram.com/hphotos-xpf1/t51.2885-15/10474951_257126574478383_252662665_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/pnDOliHX1m/"><img src="http://scontent-a.cdninstagram.com/hphotos-xfp1/t51.2885-15/10488729_791768307524377_68067986_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/o9QsBcnX9z/"><img src="http://scontent-a.cdninstagram.com/hphotos-xpa1/t51.2885-15/10453823_296375797190931_1872001490_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/o83Yu0HX7T/"><img src="http://scontent-b.cdninstagram.com/hphotos-xfp1/t51.2885-15/10401799_1505683339650927_922203219_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/sbusWhHX9E/"><img src="http://scontent-b.cdninstagram.com/hphotos-xaf1/t51.2885-15/10665502_841159172596226_1056117875_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/sJx9QRnX0V/"><img src="http://scontent-b.cdninstagram.com/hphotos-xfa1/t51.2885-15/10601855_278777095642102_27535846_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/r8wOHcnX2X/"><img src="http://scontent-b.cdninstagram.com/hphotos-xaf1/t51.2885-15/10597417_266843130179816_657983087_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/r4TGBinXzS/"><img src="http://scontent-b.cdninstagram.com/hphotos-xaf1/t51.2885-15/10593435_1448108302130169_1388657504_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/rg78XqnX2u/"><img src="http://scontent-a.cdninstagram.com/hphotos-xpf1/t51.2885-15/10533278_513439518790777_140141995_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/rTSywNnXx1/"><img src="http://scontent-a.cdninstagram.com/hphotos-xaf1/t51.2885-15/10576104_1451859565101026_954183267_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/psM3vhHX1a/"><img src="http://scontent-b.cdninstagram.com/hphotos-xpf1/t51.2885-15/10474951_257126574478383_252662665_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/pnDOliHX1m/"><img src="http://scontent-a.cdninstagram.com/hphotos-xfp1/t51.2885-15/10488729_791768307524377_68067986_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/o9QsBcnX9z/"><img src="http://scontent-a.cdninstagram.com/hphotos-xpa1/t51.2885-15/10453823_296375797190931_1872001490_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/o83Yu0HX7T/"><img src="http://scontent-b.cdninstagram.com/hphotos-xfp1/t51.2885-15/10401799_1505683339650927_922203219_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/sbusWhHX9E/"><img src="http://scontent-b.cdninstagram.com/hphotos-xaf1/t51.2885-15/10665502_841159172596226_1056117875_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/sJx9QRnX0V/"><img src="http://scontent-b.cdninstagram.com/hphotos-xfa1/t51.2885-15/10601855_278777095642102_27535846_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/r8wOHcnX2X/"><img src="http://scontent-b.cdninstagram.com/hphotos-xaf1/t51.2885-15/10597417_266843130179816_657983087_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/r4TGBinXzS/"><img src="http://scontent-b.cdninstagram.com/hphotos-xaf1/t51.2885-15/10593435_1448108302130169_1388657504_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/rg78XqnX2u/"><img src="http://scontent-a.cdninstagram.com/hphotos-xpf1/t51.2885-15/10533278_513439518790777_140141995_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/rTSywNnXx1/"><img src="http://scontent-a.cdninstagram.com/hphotos-xaf1/t51.2885-15/10576104_1451859565101026_954183267_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/psM3vhHX1a/"><img src="http://scontent-b.cdninstagram.com/hphotos-xpf1/t51.2885-15/10474951_257126574478383_252662665_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/pnDOliHX1m/"><img src="http://scontent-a.cdninstagram.com/hphotos-xfp1/t51.2885-15/10488729_791768307524377_68067986_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/o9QsBcnX9z/"><img src="http://scontent-a.cdninstagram.com/hphotos-xpa1/t51.2885-15/10453823_296375797190931_1872001490_a.jpg"></a></li><li><a title="Pic" target="_blank" href="http://instagram.com/p/o83Yu0HX7T/"><img src="http://scontent-b.cdninstagram.com/hphotos-xfp1/t51.2885-15/10401799_1505683339650927_922203219_a.jpg"></a></li></ul>
                </div>
            </div>
    
        </nav>
</div>
<div class="main-container">

    <a id="home" class="in-page-link"></a>
    <!-- Header -->
    <section class="image-with-text background-dark preserve-3d">
        <div class="background-image-holder">
            <img class="background-image" alt="About Image" src="/images/gdrive/jamming at Northside Tavern.jpg">
            <div class="container vertical-align" style="z-index: 2; top: 50%;">
                <div class="row">
                    <div class="col-md-5 col-sm-7">
                        <!-- <h1 class="bold text-white">WHEEL 2 LIVE</h1>
                        <p class="lead text-white gf_muli lh_24">
                            The purpose of this project is to provide wheelchairs to persons with disabilities in underserved communities by presenting a multidisciplinary tour.
                        </p> -->
                        <!-- <a href="#speakers" class="btn btn-hollow mr10">Franks's Story</a> -->
                    </div>
                    
                    <div class="row pt20">
                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                            <h3 class="text-white text-center mb10 bold">May 11th - 22th, 2015</h3>
                            <h5 class="bold uppercase text-center block" style="color: #ff9f65;">
                                302-mile - From georgia to savannah
                            </p>
                            <br/>
                            <br/>
                            <div class="countdown mt0" data-date="2015/03/25"></div>
                        </div>
                    </div>
                </div><!--end of row-->
            </div>
            <div class="go-right side-image col-sm-4 col-md-6">
            </div><!--end of container-->
            <div class="overlay"></div>
        </div>
    </section>

    <a id="speakers" class="in-page-link"></a>
    
    <section class="speakers duplicatable-content">
    
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Speakers</h1>
                </div>
            </div><!--end of row-->
            
            <div class="row">
        
                <div class="col-md-6 col-sm-12">
                    <div class="speaker-with-bio">
                        <div class="speaker">
                            <div class="image-holder">
                                <img class="background-image" alt="Speaker" src="images/gdrive/DSC_0017.jpg">
                                <div class="hover-state text-center preserve3d">
                                    <div class="social-links vertical-align">
                                        <a href="#speakers"><i class="icon social_twitter"></i></a>
                                        <a href="#speakers"><i class="icon social_linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="speaker-description">
                            <h2>Frank Barham</h2>
                            <span class="sub">Founder</span>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                            </p>
                        </div>
                    </div>
                </div><!--end of individual speaker with bio-->
                
                <div class="col-md-6 col-sm-12">
                    <div class="speaker-with-bio">
                        <div class="speaker">
                            <div class="image-holder">
                                <img class="background-image" alt="Speaker" src="images/gdrive/DSC_0017.jpg">
                                <div class="hover-state text-center preserve3d">
                                    <div class="social-links vertical-align">
                                        <a href="#speakers"><i class="icon social_twitter"></i></a>
                                        <a href="#speakers"><i class="icon social_linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="speaker-description">
                            <h2>Margaret Kargbo</h2>
                            <span class="sub">Wild Ideas Man</span>
                            <p>
                                Margaret Kargbo is CEO & Founder of iWonder Media Group. Specializing in project management and client services, iWonder Media offers PR/marketing, business development, event and professional organizing to a mix of corporate, nonprofit and charitable groups. 
                            </p>
                        </div>
                    </div>
                </div><!--end of individual speaker with bio-->
                
                <div class="col-md-6 col-sm-12">
                    <div class="speaker-with-bio">
                        <div class="speaker">
                            <div class="image-holder">
                                <img class="background-image" alt="Speaker" src="images/gdrive/DSC_0017.jpg">
                                <div class="hover-state text-center preserve3d">
                                    <div class="social-links vertical-align">
                                        <a href="#speakers"><i class="icon social_twitter"></i></a>
                                        <a href="#speakers"><i class="icon social_linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="speaker-description">
                            <h2>Simon Sesz</h2>
                            <span class="sub">CEO of WhoDat</span>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                            </p>
                        </div>
                    </div>
                </div><!--end of individual speaker with bio-->
                
                <div class="col-md-6 col-sm-12">
                    <div class="speaker-with-bio">
                        <div class="speaker">
                            <div class="image-holder">
                                <img class="background-image" alt="Speaker" src="images/gdrive/DSC_0017.jpg">
                                <div class="hover-state text-center preserve3d">
                                    <div class="social-links vertical-align">
                                        <a href="#speakers"><i class="icon social_twitter"></i></a>
                                        <a href="#speakers"><i class="icon social_linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="speaker-description">
                            <h2>Pete Dunn</h2>
                            <span class="sub">HR at CodeMogul</span>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                            </p>
                        </div>
                    </div>
                </div><!--end of individual speaker with bio-->
        
            </div><!--end of row-->
            
            
        </div><!--end of container-->
    
    </section>
    
    
    <section class="image-with-text testimonials preserve-3d">
    
        <div class="go-left side-image col-md-6 col-sm-4">
            <div class="background-image-holder">
                <img class="background-image" alt="About Image" src="img/side3.jpg">
            </div>
        </div>
        
        <div class="container vertical-align">
            <div class="row">
                <div class="col-md-5 col-md-offset-7 col-sm-7 col-sm-offset-5">
                    <div class="testimonials-slider">
                        <ul class="slides">
                            <li>
                                <h1>"Meetup was chock full of useful stuff. My head was spinning!"</h1>
                                <p class="lead">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </li>
                            
                            <li>
                                <h1>"Last year's Meetup completely changed my approach to PHP!"</h1>
                                <p class="lead">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </li>
                            
                            <li>
                                <h1>"If you go to one conference this year, make sure it's Meetup."</h1>
                                <p class="lead">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!--end of row-->
        </div><!--end of container-->
        
        
    </section>
    
    <a id="schedule" class="in-page-link"></a>
    
    <section class="schedule schedule-with-text">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-6">
                    <h1>Meetup is set over two days of ground-breaking speeches for web enthusiasts</h1>
                    
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                    </p>
                    
                    <a href="#speakers" class="btn">Buy a ticket</a>
                    
                </div>
                
                <div class="col-md-7 col-sm-6">
                    <ul class="schedule-overview">
                        <li>
                            <div class="schedule-title">
                                <span class="time">9:30am - 11:30am</span>
                                <span class="title">Welcome &amp; Registration</span>
                            </div>
                            
                            <div class="schedule-text">
                                <p>
                                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
                                </p>
                            </div>
                            
                            <div class="marker-pin">
                                <div class="top"></div>
                                <div class="middle"></div>
                                <div class="bottom"></div>
                            </div>
                        </li><!--end of individual schedule item-->
                        
                        <li>
                            <div class="schedule-title">
                                <span class="time">11:30am - 1pm</span>
                                <span class="title">Improving WordPress Workflow</span>
                            </div>
                            
                            <div class="schedule-text">
                                <p>
                                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
                                </p>
                            </div>
                            
                            <div class="marker-pin">
                                <div class="top"></div>
                                <div class="middle"></div>
                                <div class="bottom"></div>
                            </div>
                        </li><!--end of individual schedule item-->
                        
                        <li>
                            <div class="schedule-title">
                                <span class="time">1pm - 2pm</span>
                                <span class="title">Catered Lunch</span>
                            </div>
                            
                            <div class="schedule-text">
                                <p>
                                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
                                </p>
                            </div>
                            
                            <div class="marker-pin">
                                <div class="top"></div>
                                <div class="middle"></div>
                                <div class="bottom"></div>
                            </div>
                        </li><!--end of individual schedule item-->
                        
                        <li>
                            <div class="schedule-title">
                                <span class="time">2pm - 3:30pm</span>
                                <span class="title">Advanced MySQL Usage</span>
                            </div>
                            
                            <div class="schedule-text">
                                <p>
                                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
                                </p>
                            </div>
                            
                            <div class="marker-pin">
                                <div class="top"></div>
                                <div class="middle"></div>
                                <div class="bottom"></div>
                            </div>
                        </li><!--end of individual schedule item-->
                    </ul>
                </div>
                
            </div><!--end of row-->
        </div><!--end of container-->
    </section>
    
    <section class="instagram preserve-3d">

        <div class="instafeed" data-user-name="insideenvato">
            <ul></ul>
        </div>

        
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div>
                        <i class="icon social_instagram text-white"></i>
                        <h1 class="text-white">Memories from Meetup 2013</h1>
                        <span class="lead text-white">Follow this year's event on <strong><a class="text-white" href="#speakers">Instagram</a></strong></span>  
                    </div>
                </div>
            </div><!--end of row-->
        </div><!--end of container-->
    </section>
    
    <a id="pricing" class="in-page-link"></a>
    
    
    <a id="register" class="in-page-link"></a>
    
    
    <section class="strip-divider call-to-action">
            <div class="background-image-holder parallax-background">
                <img class="background-image" alt="BG Image" src="img/grey-bg.jpg">
            </div>
            
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h1>What are you waiting for? Meetup 2019!?</h1>
                        <span class="uppercase">Don't Wait, Get your tickets right now</span>
                        <a class="btn btn-lg" href="#speakers">Purchase Tickets</a>
                        <span class="uppercase">Oh, invite your friends too</span>
                        <a href="#speakers"><i class="icon social_facebook"></i></a>
                        <a href="#speakers"><i class="icon social_twitter"></i></a>
                    </div>
                </div><!--end of row-->

            </div><!--end of container-->
    </section>
</div>
<div class="footer-container">          
    <footer class="short footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <span class="text-white">© Copyright 2014 Meetup Inc.</span>
                </div>
    
                <div class="col-sm-9 text-right">
                    <ul class="menu">
                        <li><a href="#speakers">Press</a></li>
                        <li><a href="#speakers">Terms of service</a></li>
                        <li><a href="#speakers">About</a></li>
                        <li><a href="#speakers">Contact</a></li>
                        <li><a class="inner-link back-to-top" href="#top">Back To Top&nbsp;<i class="icon pe-7s-angle-up-circle"></i></a></li>
                    </ul>
                </div>

            </div><!--end of row-->
        </div><!--end of container-->
    </footer>
</div>


        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/skrollr.min.js"></script>
        <script src="/js/spectragram.min.js"></script>
        <script src="/js/flexslider.min.js"></script>
        <script src="/js/jquery.plugin.min.js"></script>
        <script src="/js/jquery.countdown.min.js"></script>
        <script src="/js/lightbox.min.js"></script>
        <script src="/js/smooth-scroll.min.js"></script>
        <script src="/js/twitterfetcher.min.js"></script>
        <script src="/js/scripts.js"></script>
    </body>
</html>
