<style type="text/css">
    .image-with-text {
        overflow: hidden;
        position: relative;
        height: 425px;
    }
</style>

<div class="main-container">
	<a id="home" class="in-page-link"></a>

	<section class="image-with-text background-dark preserve-3d">
		<div class="background-image-holder">
			<img class="background-image" alt="About Image" src="/images/map/map_overview.jpg">
			<div class="container vertical-align" style="z-index: 2; top: 50%;">
				<div class="row">
					<div class="col-md-5 col-sm-7">
						<!-- <h1 class="bold text-white">WHEEL 2 LIVE</h1>
						<p class="lead text-white gf_muli lh_24">
							The purpose of this project is to provide wheelchairs to persons with disabilities in underserved communities by presenting a multidisciplinary tour.
						</p> -->
						<!-- <a href="#speakers" class="btn btn-hollow mr10">Franks's Story</a> -->
					</div>
					
					<div class="row pt20">
						<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
							<h2 class="text-white text-center mb10 upper gf_oswald normal ws3">May 2015</h2>
                        <h5 class="bold uppercase text-center block ws2" style="color: #ff9f65;">
                           one man. 302-miles. 14-days. a journey from georgia to savannah.
                        </p>
							<br/>
							<br/>
							<div class="countdown mt0" data-date="2015/03/25"></div>
						</div>
					</div>
				</div><!--end of row-->
			</div>
			<div class="go-right side-image col-sm-4 col-md-6">
			</div><!--end of container-->
			<div class="overlay"></div>
		</div>
	</section>


	<section class="pricing-options box-shadow-ccc pb20">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<h4 class="gf_oswald semi-bold upper">ROUTE OVERVIEW</h4>
					<br/><!-- <h4 class="ml10 inline-block gf_oswald semi-bold upper text-muted">
						302-MILES ATLANTA TO SAVANNAH.
					</h4> -->
					<h1 class="fs_24">A graduate of the University of North Carolina – Chapel Hill, Frank’s journey with the harmonica started in 1980 in a Duke University Hospital room.
					</h1>

					<br/>
					
					<div class="row">
						<div class="col-md-3 col-sm-4">
							<div class="faq-item">
								<p class="question gf_oswald upper semi-bold ws2">
									A 14-Day Journey
								</p>
								<p>
									Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia.
								</p>
							</div>
						</div><!--end of individual faq item-->
					
						<div class="col-md-3 col-sm-4">
							<div class="faq-item">
								<p class="question gf_oswald upper semi-bold ws2">
									30-Miles daily
								</p>
							
								<p>
									Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
								</p>
							</div>
						</div><!--end of individual faq item-->
					
						<div class="col-md-3 col-sm-4">
							<div class="faq-item">
								<p class="question gf_oswald upper semi-bold ws2">
									30-Miles daily
								</p>
							
								<p>
									At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.<br><br>
								</p>
							</div>
						</div><!--end of individual faq item-->
					
						<div class="col-md-3 col-sm-4">
							<div class="faq-item">
								<p class="question gf_oswald upper semi-bold ws2">
									30-Miles daily
								</p>
							
								<p>
									Voluptate velit esse cillum dolore eu fugiat nulla ptariatur. Excepteur sint occaecat
								</p>
							</div>
						</div><!--end of individual faq item-->
					</div><!--end of row-->
				</div>
			</div>
		</div>
	</section>

	<section class="pricing-options bgcolor-light-grey">
		<div class="container">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-6">
						<h4 class="gf_oswald semi-bold upper">0 - 2.2 Miles</h4>
						<br/>
						<img src="/images/map/map_1.png" class="img-responsive box-shadow-ccc"/>
					</div>
					<div class="col-md-6">
						<h4 class="gf_oswald semi-bold upper">2.2 - 5.5 Miles</h4>
						<br/>
						<img src="/images/map/map_2.png" class="img-responsive box-shadow-ccc"/>
					</div>
				</div>
				<br/>
				<hr/>
				<br/>
				<div class="row">
					<div class="col-md-6">
						<h4 class="gf_oswald semi-bold upper">6.3 - 9.3 Miles</h4>
						<br/>
						<img src="/images/map/map_3.png" class="img-responsive box-shadow-ccc"/>
					</div>
					<div class="col-md-6">
						<h4 class="gf_oswald semi-bold upper">9.9 - 11.9 Miles</h4>
						<br/>
						<img src="/images/map/map_4.png" class="img-responsive box-shadow-ccc"/>
					</div>
				</div>
				<br/>
				<hr/>
				<br/>
				<div class="row">
					<div class="col-md-6">
						<h4 class="gf_oswald semi-bold upper">14.0 - 15.4</h4>
						<br/>
						<img src="/images/map/map_5.png" class="img-responsive box-shadow-ccc"/>
					</div>
					<div class="col-md-6">
						<h4 class="gf_oswald semi-bold upper">9.9 - 11.9 Miles</h4>
						<br/>
						<img src="/images/map/map_5.png" class="img-responsive box-shadow-ccc"/>
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-md-6">
						<h4 class="gf_oswald semi-bold upper">14.0 - 15.4</h4>
						<br/>
						<img src="/images/map/map_5.png" class="img-responsive box-shadow-ccc"/>
					</div>
					<div class="col-md-6">
						<h4 class="gf_oswald semi-bold upper">9.9 - 11.9 Miles</h4>
						<br/>
						<img src="/images/map/map_5.png" class="img-responsive box-shadow-ccc"/>
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-md-6">
						<h4 class="gf_oswald semi-bold upper">14.0 - 15.4</h4>
						<br/>
						<img src="/images/map/map_5.png" class="img-responsive box-shadow-ccc"/>
					</div>
					<div class="col-md-6">
						<h4 class="gf_oswald semi-bold upper">9.9 - 11.9 Miles</h4>
						<br/>
						<img src="/images/map/map_5.png" class="img-responsive box-shadow-ccc"/>
					</div>
				</div>
			</div>
		</div><!--end of container-->
	</section>

</div>