<style type="text/css">
    .image-with-text {
        overflow: hidden;
        position: relative;
        height: 425px;
    }
</style>

<div class="main-container">
	<a id="home" class="in-page-link"></a>

	<section class="image-with-text background-dark preserve-3d">
		<div class="background-image-holder">
			<img class="background-image" alt="About Image" src="/images/map/map_overview.jpg">
			<div class="container vertical-align" style="z-index: 2; top: 50%;">
				<div class="row">
					<div class="col-md-5 col-sm-7">
						<!-- <h1 class="bold text-white">WHEEL 2 LIVE</h1>
						<p class="lead text-white gf_muli lh_24">
							The purpose of this project is to provide wheelchairs to persons with disabilities in underserved communities by presenting a multidisciplinary tour.
						</p> -->
						<!-- <a href="#speakers" class="btn btn-hollow mr10">Franks's Story</a> -->
					</div>
					
					<div class="row pt20">
						<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
							<h2 class="text-white text-center mb10 upper gf_oswald normal ws3">May 11-25, 2015</h2>
		                        <h5 class="bold uppercase text-center block ws2" style="color: #ff9f65;">
		                           A journey from atlanta to savannah.
		                        </p>
							<br/>
							<br/>
							<div class="countdown mt0" data-date="2015/03/25"></div>
						</div>
					</div>
				</div><!--end of row-->
			</div>
			<div class="go-right side-image col-sm-4 col-md-6">
			</div><!--end of container-->
			<div class="overlay"></div>
		</div>
	</section>


	<section class="pricing-options box-shadow-ccc" style="background: #f5f5f5;">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h4 class="gf_oswald semi-bold upper">ROUTE OVERVIEW</h4>
					<br/><!-- <h4 class="ml10 inline-block gf_oswald semi-bold upper text-muted">
						302-MILES ATLANTA TO SAVANNAH.
					</h4> -->
					<p class="text-blacksemi-bold lead ws-1 gf_muli">
						It's historic and symbolic.  During the Civil War in 1864, General William T. Sherman of the Union Army burned a path from Atlanta to Savannah.  His March to the Sea was intended to inspire / frighten Georgian's to cease their support of the Confederacy.  In 2015, Frank's roll to the sea is also intended to inspire Georgians, however, this time it's to inspire them to cease support of attitudes that maybe limiting them from experiencing their life to its fullest.
					</p>
					<p class="semi-bold lead ws-1 gf_muli">
						In many ways, Frank feels like his life, as it was and might have been, went up in "flames" when, at a party, he helped throw his father in a swimming pool and his father floated up paralyzed.  Frank's subsequent responses propelled him on a downward spiral that led to his own accident and spinal injury.  Frank's long journey to recreate and rediscover himself uplifted him from the "flames" of anger, self-loathing, self-doubt, frustration, and isolation; ultimately delivering him to a more positive paradigm of love, self-forgiveness and self-acceptance, thereby 'Embracing the Possibilities' that life has to offer.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="pricing-options box-shadow-ccc">
		<div class="container">
			<div class="col-md-10 col-md-offset-1">
				<div class="row">
					<div class="col-md-4">
						<img src="/images/gdrive/ride_book.jpg" class="img-thumbnail" />
						<p class="semi-bold lead ws-1 gf_muli">
							
						</p>
					</div>
					<div class="col-md-8">
						<h3 class="bold mb10">Atlanta to Savannah, A Cyclist’s Guidebook</h3>
						<h4 class="semi-bold ">by Eddie Shirey</h4>
						<br/>
						<p class="semi-bold ws-1 gf_muli fs_14">
						Special thanks to Ed Shirey of Georgia Bikes for providing the routing support to Wheel 2 Learn more about Shirey’s cycling along Sherman's path in his recent book, ‘Atlanta to Savannah, A Cyclist’s Guidebook” available now in paperback at
						<br/>
						<a href="#" class="btn btn-hollow">Buy on Amazon >></a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	

	<section class="contact-tweets background-dark">
	    <div class="map-holder col-md-12 col-sm-4">
	         <iframe src="https://www.google.com/maps/embed?pb=!1m29!1m12!1m3!1d3349589.3701533973!2d-85.58790732241663!3d34.92944603454404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m14!1i0!3e1!4m5!1s0x88f5045d6993098d%3A0x66fede2f990b630b!2sAtlanta%2C+GA!3m2!1d33.7489954!2d-84.3879824!4m5!1s0x88fb75fc78f20659%3A0x4e0c6751036020bc!2sSavannah%2C+GA!3m2!1d32.0835407!2d-81.09983419999999!5e0!3m2!1sen!2sus!4v1416272534796" width="600" height="450" frameborder="0" style="border:0"></iframe>
	    </div>
	</section>

	<section class="sponsors bgcolor-white no-border">
	    <div class="container">
	        <div class="row">
	            <div class="col-sm-12 text-center">
	                <h1 class="semi-bold upper mb0 gf_oswald">Proudly sponsored by</h1>
	            </div>
	        </div><!--end of row-->
	        <hr class=""/>
	        <br/>
	        <div class="row">
	            <div class="col-md-3 col-sm-6 sponsor-column">
	                <div class="sponsor text-center">
	                    <a href="#">
	                        <img alt="Sponsor" src="http://ee67220d6d27f782feb8-f9db6d286072a6d6499b01588462c44f.r59.cf2.rackcdn.com/amsvans/Articles/Buying/amsvansLogo.jpg">
	                    </a>
	                </div>
	            </div>
	    
	            <!-- <div class="col-md-3 col-sm-6 sponsor-column">
	                <div class="sponsor text-center">
	                    <a href="#">
	                        <img alt="Sponsor" src="http://www.disabilitystudies.emory.edu/home/images/hero/DSIlogo.png">
	                    </a>
	                </div>
	            </div> -->
	    
	            <div class="col-md-3 col-sm-6 sponsor-column">
	                <div class="sponsor text-center">
	                    <a href="#">
	                        <img alt="Sponsor" src="http://www.christopherreeve.org/atf/cf/%7B3d83418f-b967-4c18-8ada-adc2e5355071%7D/SC_LOGO200X200.JPG">
	                    </a>
	                </div>
	            </div>
	        
	            <div class="col-md-3 col-sm-6 sponsor-column">
	                <div class="sponsor text-center">
	                    <a href="#">
	                        <img alt="Sponsor" src="https://dkxeo0cgz08dq.cloudfront.net/wp-content/uploads/2012/12/logo_transparent_new_small.png?34348b">
	                    </a>
	                </div>
	            </div>
	        </div><!--end of row-->
	    </div><!--end of container-->
	</section>

