<!DOCTYPE html>
<html>
	<head>
	  <title>Wheel to Live</title>
	  <%#= stylesheet_link_tag    'application'%>
	  <%#= javascript_include_tag 'application' %>
	  <%#= csrf_meta_tags %>

	    <!-- Google Font Library -->
	    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
	    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
	    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
	    <link href='http://fonts.googleapis.com/css?family=Muli:300,400,400italic,300italic' rel='stylesheet' type='text/css'>
	    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
	    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic' rel='stylesheet' type='text/css'>
	    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
	    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
	    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,200,700' rel='stylesheet' type='text/css'>
	    <link href='http://fonts.googleapis.com/css?family=Clicker+Script' rel='stylesheet' type='text/css'>
	    <link href='http://fonts.googleapis.com/css?family=Nunito:400,700,300' rel='stylesheet' type='text/css'>
	    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>
	    <!-- Google Font Library -->

	    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
	    <link href="/css/flexslider.min.css" rel="stylesheet" type="text/css" media="all"/>
	    <link href="/css/elegant-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
	    <link href="/css/pe-icon-7-stroke.min.css" rel="stylesheet" type="text/css" media="all"/>
	    <link href="/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all"/>
	    <link href="/css/theme-hot.css" rel="stylesheet" type="text/css" media="all"/>
	    <link href="/css/base.css" rel="stylesheet" type="text/css" media="all"/>


	    <style type="text/css">
	        section {
	            padding: 72px 0px;
	            background: #fff;
	            border-top: 5px solid #ff7f33;
	        }

	        .btn-hollow {
	        /*background: rgba(0,0,0, .25);*/
	        border: 2px solid #fff;
	        color: #fff;
	        }

	        .countdown {
	            text-align: center;
	            margin-top: 72px;
	            font-family: 'Oswald';
	            text-transform: uppercase;
	            font-weight: 700;
	        }

	        .countdown-period {
	            font-size: 20px;
	            font-weight: 400;
	        }

	        .countdown-amount {
	            font-size: 100px;
	            margin-bottom: 10px;
	            font-weight: 500;
	        }

	        .countdown-section {
	            width: 25%;
	        }

	        ul.disc {list-style: disc; padding-left: 16px;}
	        ul.disc li {
	        	font-size: 12px; 
	        	font-weight: 600; 
	        	word-spacing: -1px; 
	        	line-height: 16px; 
	        	margin: 6px 0;
	        }
	        .overlay:before {
				background-color: #333333;
				opacity: 0.75;
				position: absolute;
				content: '';
				width: 100%;
				height: 100%;
				z-index: 1;
				top: 0px;
				}

			.image-with-text {
				overflow: hidden;
				position: relative;
				height: 425px;
			}
		</style> 
    </head>
	<body>
		
		<%= yield %>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/skrollr.min.js"></script>
        <script src="/js/spectragram.min.js"></script>
        <script src="/js/flexslider.min.js"></script>
        <script src="/js/jquery.plugin.min.js"></script>
        <script src="/js/jquery.countdown.min.js"></script>
        <script src="/js/lightbox.min.js"></script>
        <script src="/js/smooth-scroll.min.js"></script>
        <script src="/js/twitterfetcher.min.js"></script>
        <script src="/js/scripts.js"></script>
    </body>
</html>